[2017-06-26 16:11] corneil opened #1 "Repository Scanning"
The Spring Data Commons project provides all the plumbing for doing the scanning for repositories.

Look at [https://github.com/corneil/spring-data-arangodb/blob/master/src/main/java/org/springframework/data/arangodb/repository/config/ArangoRepositoriesRegistar.java](https://github.com/corneil/spring-data-arangodb/blob/master/src/main/java/org/springframework/data/arangodb/repository/config/Arango

[2017-06-26 16:26] corneil opened #2 "Edges"
I would like to suggest the automatic creation of edges.

With an annotation like `@Link` on a field.
[code]
In these cases we can create edges named EventInMeeting and AthleteInEvent automatically.
Maybe add an indicator for from and to if there is a field with annotation on the other side as well.
The default is the annotated side is the from side.

The annotation could also accept a class inste

[2017-09-07 11:14] #2 closed, assigned to nobody

[2017-09-07 11:15] #1 closed, assigned to nobody

[2018-01-12 15:51] Wintereise opened #7 "Autowired repository Bean creation fails: Unsatisfied dependency expressed through constructor parameter 1: Ambiguous argument values for parameter of type [com.arangodb.springframework.core.ArangoOperations]"
Hi,

So, I'm attempting to try out ArangoDB in a Spring WebFlux + Boot webapp.

I've tried to keep it simple, config is thus:

[code]

Have a repo like:

[code]

And then, on a `@RestController`, I have a simple:

[code]

My build.gradle file has been enhanced with:
[code]

Theoretically, everything should be in order. But when I try to actually run this:

[code]

No clue how to proceed from here,

[2018-01-26 09:04] mpv1989 opened #8 "Missing WITH information in AQL when resolving annotation @Relations (1.0)"
The WITH information in the AQL query for resolving `@Relations` is missing. This causes to an error within a cluster setup.

[2018-01-26 09:13] #8 closed

[2018-01-26 09:14] mpv1989 opened #9 "Missing WITH information in AQL when resolving annotation @Relations (2.0)"
The WITH information in the AQL query for resolving @Relations is missing. This causes to an error within a cluster setup.

[2018-01-26 09:18] #9 closed

[2018-02-06 09:37] Wintereise commented on #7
This happens if both webflux and web try to init in the same project (usually due to a dependency that automatically pulls in web).

Closing.

[2018-02-06 09:37] #7 closed

[2018-02-09 12:51] haqer1 opened #10 "Possible documentation improvements"
It seems documenting that no-arg constructor is required for Document mapping would be a good idea.[1.1][1.2]
If similar to hibernate overriding of equals and/or hashCode is needed, would be nice to have it documented as well.[2]

[1.1] Similar to 4.1.1. in
https://docs.jboss.org/hibernate/stable/core.old/reference/en/html/persistent-classes.html
[1.2] If there's no no-arg constructor in the prese

[2018-02-09 13:05] haqer1 opened #11 "There is a need (to be able to mark) for LAZY fetching (of associations)"
This would be consistent with FetchType.LAZY:
https://javaee.github.io/javaee-spec/javadocs/javax/persistence/FetchType.html
This could in fact be implemented using the same enum.

P.S. In JPA, this frequently works as follows:
lazily-fetched association (especially if it's to-many) isn't fetched right away, but if it's dereferenced, it's fetched at that moment (before dereferencing method returns

[2018-02-12 06:10] haqer1 opened #12 "Auto-persistence of null associations would be beneficial (for users & ArangoDB)"
For instance, for the
https://github.com/arangodb/spring-data#reference
example, when address.id is null, it's not currently auto-persisted; thus it currently has to be persisted separately (prior to persisting the parent entity). In JPA implementations i've worked with, the association(s) would be auto-persisted (allowing to persist an entire aggregate[1] by making only 1 call to persist the aggr

[2018-02-21 10:04] hberndt opened #13 "NoClassDefFoundError: org/springframework/data/convert/CustomConversions"
Hi,
 I try ArangoDB within a Spring based microservice project. I use the following dependencies:
[code]
When starting the unit tests, I get the following error stack trace:
[code]
Your implementation looks right. Any hints?

Regards,
Holger

[2018-02-21 13:16] hberndt commented on #13
Maybe this is an Spring version issue. I use spring-boot 1.5.10. I think this is not compatible with 2.0.2.

[2018-02-21 13:19] hberndt opened #14 "UnsatisfiedDependencyException Ambiguous argument values for parameter of type [com.arangodb.springframework.core.ArangoOperations]"
Using spring-boot 1.5.10.RELEASE and arangodb-spring-data 1.0.1 we get the following error
[code]

[2018-02-22 08:52] mpv1989 commented on #11
Hi @haqer1 ,

thanks for the feedback. The annotations [@Ref](https://arangodb.github.io/spring-data/javadoc-2_0/com/arangodb/springframework/annotation/Ref.html), [@Relations](https://arangodb.github.io/spring-data/javadoc-2_0/com/arangodb/springframework/annotation/Relations.html), [@From](https://arangodb.github.io/spring-data/javadoc-2_0/com/arangodb/springframework/annotation/From.html) and [

[2018-02-22 08:56] mpv1989 commented on #12
Hi @haqer1,

thanks for the feedback. I'll put that on my todo list.

best
Mark

[2018-02-22 09:10] mpv1989 commented on #13
Hi @hberndt

yes, it is a Spring version issue. When you use Spring version 1.13.x, which spring-boot 1.5.10 should use, you have to use `com.arangodb:arangodb-spring-data:1.0.1`.

We have a branch 1.0 of arangodb-spring-data which will be maintained to support Spring 1.13.x. You can find an overview of supported versions [here](https://github.com/arangodb/spring-data#supported-versions).

best
Ma

[2018-03-05 10:13] dmartinpro opened #15 "Can't retrieve Edge documents as an attribute"
I'm trying to implement one of the documentation example:
[code]

But I'm unable to get a list of relations as expected.

First issue: @Edge doesn't have a "name" attribute (it's "value").

But it's not clear what Relation class should have as attributes.
Do I have to add a from and to attribute? Should I add the @From and @To annotations on them?

What I want doesn't seem complicated:
- 2 differe

[2018-03-06 18:08] Sukrat commented on #14
I am getting the same error.
`compile group: 'org.springframework.boot', name: 'spring-boot-devtools', version: '1.5.10.RELEASE'`
This dependency in the project seems to trigger it. Do you have this dependency as well. I want to know the work around to it as well.

[2018-03-08 12:45] mpv1989 commented on #14
Thank you both for reporting. I'll take a look.

[2018-03-08 12:51] sohailsed opened #16 "UnsatisfiedDependencyException: Error creating bean with name 'simpleArangoRepository'"
I'm using arangodb-spring-data and get an error like [this issue](https://github.com/arangodb/spring-data/issues/7) except that i don't use spring boot and flux. my application is just a rest mvc based spring application that want to use arangodb using spring data repository. need to add that in this application I use jpa repository as well to connect to mysql.

[2018-03-08 12:53] mpv1989 commented on #16
Thanks for reporting. I am on it.

[2018-03-08 12:56] sohailsed commented on #16
stack trace

org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'simpleArangoRepository' defined in URL [jar:file:/C:/Users/admin/.IntelliJIdea14/system/tomcat/Unnamed_Spring4MVCCRUDRestService/work/Catalina/localhost/_/WEB-INF/lib/arangodb-spring-data-2.0.0.jar!/com/arangodb/springframework/repository/SimpleArangoRepository.class]: Unsatisfied dependen

[2018-03-08 13:34] mpv1989 commented on #15
Hi @dmartinpro,

First issue: Yes, your are right. The docs are wrong it has to be `value`.

Let me quickly write down your needed classes for your case:

Class `A` with a field annotated with `@Id` and the list of links annotated with `@From` (or `@To` depending on the direction of you edge). I highly suggest to set the param `lazy` to `true` otherwise you can easily run into infinity loops.
[cod

[2018-03-12 18:07] haqer1 opened #17 "There has to be a support for automatic inheritance mapping (similar to (e.g.) JPA): after child class (document) instance is persisted, parent (compile-time) class (document) instance is auto-retrieved"
E.g., given the following example (simplified) classes:
@ Document("Parent")
class Parent {
String one;
}
@ Document("Child")
class Child extends Parent {
String two;
}
@ Document("Aggregate")
class Aggregate {
@ Ref
Parent child;
}

After saving an instance of Aggregate with child (having property two), an instance with a ref key like Child/4214688 is persisted (e.g., under aggregate with key lik

[2018-03-14 13:14] christianbreuer commented on #16
**We are facing a similar issue and getting below stack trace:**

`java.lang.IllegalStateException: Failed to load ApplicationContext
	at org.springframework.test.context.cache.DefaultCacheAwareContextLoaderDelegate.loadContext(DefaultCacheAwareContextLoaderDelegate.java:124)
	at org.springframework.test.context.support.DefaultTestContext.getApplicationContext(DefaultTestContext.java:83)
	at org.s

[2018-03-15 21:41] mark-- commented on #14
We have the same problem. See https://stackoverflow.com/questions/49303080/spring-boot-application-context-with-arangodb-repository-cannot-be-created-if-us for a detailed description and a minimal example project. See the discussion for https://github.com/spring-projects/spring-boot/issues/6541 for a possible explanation.

[2018-03-19 07:15] mpv1989 commented on #17
Thanks for reporting. I'll put this feature on our todo list with high priority

[2018-03-19 08:55] mpv1989 commented on #14
@hberndt @Sukrat @mark--
I pushed a fix which worked for me when using `spring-boot-devtools`. Would be nice if you can test it in your environment too. The fix is in `1.0.2-SNAPSHOT` and `2.0.3-SNAPSHOT`. Please let me know your results, then I can release a new version.

Keep in mind, that you have to add the staging repository of oss.sonatype.org in your project when using one of our snapshots.

[2018-03-19 08:58] mpv1989 commented on #16
@sohailsed @christianbreuer
I pushed a fix which solve another [issue](https://github.com/arangodb/spring-data/issues/14) which could also solve your problem. Would be nice if you can test it in your environment too. The fix is in `1.0.2-SNAPSHOT` and `2.0.3-SNAPSHOT`. Please let me know your results, then I can release a new version.

Keep in mind, that you have to add the staging repository of o

[2018-03-19 10:05] mark-- commented on #14
We tested version 1.0.2-SNAPSHOT and Spring Boot 1.5.6.Release and it works!
We tested with and without devtools and `@MockBean` with and without name Parameter.
Thank you for the quick response!

[2018-03-19 11:22] Sukrat commented on #14
@mpv1989 I have tested the 1.0.2-SNAPSHOT with Spring Boot 1.5.10.Release and it works fine!

[2018-03-23 10:08] hberndt commented on #16
Well done. Works now. Thank you

[2018-03-23 10:39] christianbreuer commented on #16
It is working for us as well now. When will the fix be included in a release version?

[2018-03-23 12:00] mpv1989 commented on #14
released versions `1.0.2` and `2.0.3`.

[2018-03-23 12:00] #14 closed

[2018-03-23 12:01] mpv1989 commented on #16
released versions `1.0.2` and `2.0.3`.

[2018-03-23 12:01] #16 closed

[2018-03-23 12:01] #13 closed

[2018-03-23 12:01] #11 closed

[2018-03-23 12:02] #15 closed

[2018-03-24 18:53] uded opened #19 "ID/Key generation based on annotation"
It would be beneficial to have an annotation to generate `_key` (and therefore `_id`) values based on some criteria defined in there. Take Couchbase implementation for [example](https://github.com/spring-projects/spring-data-couchbase/blob/069ceea65c42bcf8ca3f845781363681878a8927/src/main/asciidoc/autokeygeneration.adoc) - it's fairly simple to use, fairly well built and makes the schema very flex

[2018-03-25 09:31] zhuxiujia opened #20 "Does it support transactions?"
Does it support transactions?

[2018-03-26 06:35] mpv1989 commented on #19
@uded Thanks for your feedback. I will add this feature to our roadmap

[2018-03-26 06:54] mpv1989 commented on #20
Hi @zhuxiujia

yes and no. Transactions in ArangoDB do not offer separate BEGIN, COMMIT and ROLLBACK operations. Instead, ArangoDB transactions are described by a JavaScript function, and the code inside the JavaScript function will then be executed transactionally. This function is sent over our [REST API](https://docs.arangodb.com/3.3/HTTP/Transaction/) and therefore it is implemented in the und

[2018-03-26 10:19] uded commented on #19
Happy to help with the implementation if I will have some time and you're open for PRs. Might ask for some help on the way...

[2018-03-26 11:09] mpv1989 commented on #19
Of course, contribution is always welcome.

[2018-03-27 03:33] zhuxiujia commented on #20
@mpv1989 Is the transaction available in cluster mode?
So what you're saying is that you have to use Java drivers to use transactions.

[2018-03-27 03:34] zhuxiujia commented on #20
@mpv1989 Will transaction support be added in the future version of the spring data project?

[2018-03-27 08:36] mpv1989 commented on #20
@zhuxiujia We are fully ACID in the cluster for single document operations but we can't guarantee this for transactions. This could maybe change in the future but that is not guaranteed.

As soon as ArangoDB provides traditional transaction (with begin, commit, rollback) the Java driver and Spring data will support that too. For now I could only implement the `transaction()` method from the driver

[2018-03-28 13:32] lihanyu23 opened #21 "Count and Exists projection for @Query"
Feature request:

Add options for countProjection and existsProjection in @Query.

For the moment, results are only converted by ArangoResultConverter with predefined type mappings.
While there is a need for writing queries that count or check existence just like derived queries.

[2018-03-29 13:09] haqer1 opened #24 "14 bytes too many are persisted per date without time"
Type:
java.sql.Date date;
OR
java.time.LocalDate date;

Requested:
this.date = Date.valueOf(LocalDate.now(ZoneOffset.UTC).toString());
OR
this.date = LocalDate.now(ZoneOffset.UTC);
E.g.: 2018-03-29

Persisted, e.g.:
2018-03-29T00:00:00.000Z
Here everything starting with T is really unnecessary: in terms of storage and readability.

P.S.
For java.sql.Date, this also causes retrieval trouble (but th

[2018-03-29 17:41] haqer1 opened #25 "Better java.time support is needed"
At present:
1. LocalDateTime:
"2018-03-29T17:12:25.756"
persisted as
"2018-03-29T17:12:25.756Z"
2. OffsetDateTime
"2018-03-29T16:28:40.060Z"
persisted as
{"dateTime":"2018-03-29T16:28:40.060Z","offset":"Z"}
3. ZonedDateTime:
"2018-03-29T16:37:06.353Z"
persisted as
{"dateTime":"2018-03-29T16:37:06.353Z","offset":"Z","zone":"Z"}

And retrieval for 2. & 3. is problematic.

IMHO, persisted values shou

[2018-03-29 17:49] haqer1 commented on #25
For comparison, here's what PostgreSQL has:
https://jdbc.postgresql.org/documentation/head/8-date-time.html
Essentially, it supports 1. & 2. (but 2. only for UTC). Matching that would probably be a fair target to close this issue.

[2018-04-05 09:31] christian-lechner opened #26 "Exception while deserializing nested Map<String,Object> objects"
Hello!

I found an error while deserializing nested maps. See the following class:
[code]
[code]

This raises a `org.springframework.data.mapping.MappingException: No mapping metadata found for type java.lang.Object` exception at `DefaultArangoConverter.java:168`.

The exception has its root in the following method of `DefaultArangoConverter`:
[code]
As a side note: `Optional` was not intended to

[2018-04-05 10:25] christian-lechner commented on #26
As `DBDocumentEntity` inherits from `HashMap` and `DBCollectionEntity` inherits from `ArrayList`, one could simply do the following in `Object read(final TypeInformation<?> type, final DBEntity source)`:
[code]
Then the next issue that arises is: what if the stored object was not of type `Map`? To fix this we need to add type hints to the object in the db. But this is already discussed in #17 .

[2018-04-05 12:46] christian-lechner opened #27 "Implement type hints for classes"
Store type hints in documents when they are persisted to the DB (if the property type and actual type do not match).

Example:
[code]

This throws an exception because interface `Person` can not be instantiated. To fix this problem we need to store an additional property (e.g. `_type`) with the name of the class:
[code]
First, a `org.springframework.data.convert.TypeMapper` must be implemented tha

[2018-04-06 06:51] mpv1989 commented on #27
Hi @christian-lechner ,

thanks again for your contribution. I am also aware of the problem, sadly I had not yet the time to tackle it. The problem is not new with the Spring Data implementation. the Java driver also lacks such a functionality. We have open issues for that in the java-velocypack repo ([#1](https://github.com/arangodb/java-velocypack/issues/1) and [#3](https://github.com/arangodb/j

[2018-04-07 17:09] christian-lechner opened #28 "Deserialization indeed works with parameterized constructor (mistake in README)"
In the mapping section of the README it is stated that

but this is incorrect. The `DefaultArangoConverter` uses the `EntityInstantiator` from Spring Data together with a value provider, which is capable of handling non-default constructors.

You have two possibilities:

- **a single constructor:**
  - non-parameterized or
  - parameterized
- **multiple constructors:**
  - non-parameterized constr

[2018-04-08 13:39] Sinisterish opened #29 "@query in a repository generates ClassCastException"
I use this code to generate a repository just for some  queries which are supposed to be generic
as i on run-time decide the query and building a repository class for each collection is tidies and long process
i just tried an example to see if i get a response back, as i wasn't sure if you can do a repository of object
funny part the query executes and returns data when i debug but i get a ClassCa

[2018-04-09 05:46] christian-lechner commented on #29
`Object` is not a supported return type. Please see the [return types section](https://github.com/arangodb/spring-data#return-types) in the README for a list of supported return types.

[2018-04-09 06:01] Sinisterish commented on #29
change to this
and the exception still occurs

`public interface GenericArangoRepo extends Repository<BaseDocument, String>{

	@Query("FOR vcenter IN PV return vcenter")
	ArangoCursor<BaseDocument> listPVs(@BindVars Map<String,Object> bindvars);

}`

## stack trace
Caused by: java.lang.ClassCastException: Cannot cast com.arangodb.internal.ArangoCursorIterator to com.arangodb.springframework.core.t

[2018-04-09 06:09] mpv1989 commented on #29
@Sinisterish this looks like you are using incompatible versions of `arangodb-java-driver` and `arangodb-spring-data`.

The newest version of `arangodb-spring-data` is `1.0.2` and `2.0.3` (depending on the Spring Data version you are using) and the current version of `arangodb-java-driver` is `4.3.4`.

best
Mark

[2018-04-09 06:32] christian-lechner commented on #27
Hi @mpv1989 ,
I've started working on the `TypeMapper` to support inheritance. I will try to submit a pull request till the end of the week.

[2018-04-09 06:35] mpv1989 commented on #27
Hi @christian-lechner ,

great, thank you. Let me know if I can support you.

best
Mark

[2018-04-09 08:48] #29 closed

[2018-04-09 10:38] haqer1 opened #30 "Add support for associations of type Map, including customizable map key"
The core equivalent from JPA 1 is the following annotation:
https://javaee.github.io/javaee-spec/javadocs/javax/persistence/MapKey.html

P.S.
But a few other "bells-and-whistles" have been added in JPA 2.
P.P.S. It's also worth considering here whether to use the same annotation(s), or to add new one(s).

[2018-04-11 08:45] christian-lechner commented on #27
Hi @mpv1989,
While implementing the `TypeMapper` I saw that the custom conversions can only convert simple types (e.g. `String`), but not `DBDocumentEntity` objects. I will include this extension in the upcoming pull request if that's ok for you.

[2018-04-11 08:53] mpv1989 commented on #27
Hi @christian-lechner ,
I am totally ok with that.

[2018-04-12 14:16] christian-lechner commented on #27
Hello @mpv1989
I've created a pull request. We should discuss implementation details there and close this issue once it is merged.

[2018-04-13 08:18] christian-lechner opened #34 "Simplify the deserialization from VPack to DBEntity objects"
Hi!

Currently the `DefaultArangoConverter` must deal with non `DBEntity` objects because the `DBEntityDeserializer` only handles the root object. Nested objects are still "normal" hash maps and lists instead of `DBDocumentEntity` and `DBCollectionEntity`.

We could implement custom entity instantiators to produce `DBEntity` objects right away. As `DBDocumentEntity` and `DBCollectionEntity` are th

[2018-04-13 10:14] christian-lechner commented on #26
This issue would also be fixed by #33.

[2018-04-17 09:37] mpv1989 commented on #34
Hi @christian-lechner,

good idea. We should change this like you suggested.

I don't remember why `else if (isSimpleType(valueType.getType())) {` is present. The tests run successful without it. So either we have not enough tests or this is not necessary.

best
Mark

[2018-04-17 09:51] christian-lechner commented on #34
I can't think of a situation where this is necessary. Even if there is a conversion, it would be overwritten by the deserializing converters.

Then I will add this in my PR #33.

[2018-04-17 14:15] christian-lechner commented on #34
Fixed by #33.

[2018-04-17 14:15] #34 closed

[2018-04-17 14:16] christian-lechner commented on #26
Fixed by #33.

[2018-04-17 14:16] #26 closed

[2018-04-18 06:28] christian-lechner commented on #17
I think this can be closed, as it is fixed by #33.

[2018-04-18 09:31] christian-lechner opened #36 "Handling of java.time in converters"
Hello @mpv1989,

I'm just looking at the `TimeStringConverters` and `JodaTimeStringConverters` and I see that you are using the `java.util.Date` there and the `DateUtil `with the not thread-safe `SimpleDateFormat` (I saw your trick with `ThreadLocal ` ;)).

I think we should move to the new and thread-safe `DateTimeFormatter` and leave `java.util.Date` and `SimpleDateFormat` behind.

The next thin

[2018-04-18 12:59] christian-lechner commented on #21
Can't you just do the following:
[code]

[2018-04-18 14:37] mpv1989 commented on #36
@christian-lechner I agree.

I would recommend to let the `DateUtil` in [arangodb/java-velocypack](https://github.com/arangodb/java-velocypack) as it is. We have the requirement that this module remains Java 6 compatible. We should implement a new util class in [arangodb/java-velocypack-module-jdk8](https://github.com/arangodb/java-velocypack-module-jdk8) and also use it there for the serializers/

[2018-04-18 14:49] christian-lechner commented on #36
Of course we should leave the `DateUtil` as it is. The `SimpleDateFormat `is anyway the best way to deal with `Date `objects.

I meant that we should change the `TimeStringConverters`. Please see this [gist ](https://gist.github.com/christian-lechner/4152974a9ad050725c42e0b21250cd7e)how it could look like.

[2018-04-19 06:44] christian-lechner commented on #36
I propose the following serialization formats:

Class  | Format
 :--- | :---
 `LocalDate` | `DateTimeFormatter.ISO_LOCAL_DATE`
 `LocalDateTime` | `DateTimeFormatter.ISO_LOCAL_DATE_TIME`
 `Instant` | `DateTimeFormatter.ISO_INSTANT`
 `OffsetDateTime` | `DateTimeFormatter.ISO_OFFSET_DATE_TIME`
`ZonedDateTime `| `DateTimeFormatter.ISO_ZONED_DATE_TIME`

[2018-04-19 08:38] mpv1989 commented on #36
Hi @christian-lechner,

I changed the serialization of all mentioned classes in [arangodb/java-velocypack-module-jdk8](https://github.com/arangodb/java-velocypack-module-jdk8/commit/014c07cb736aea6b2b0fd99fbea51fa9efccf411). I will release a new version of this module today and then we can use the `JavaTimeUtil` in `TimeStringConverters`.

It may be a little exaggerated to implement a util, but I

[2018-04-19 08:52] christian-lechner commented on #36
Nothing wrong with your util, especially if there are changes to be made :)

The `java.time.*` classes can be added to the `ArangoSimpleTypes` I created. All classes in there are handed to the velocypack serializer. Then we would only need the deserializers from `String`. It could be that they are already handled by the `DefaultConversionService`.

Let me know if I should help you with a PR or so.

[2018-04-19 09:08] christian-lechner commented on #36
The `java-velocypack-module-joda` should also be updated.

[2018-04-19 12:15] mpv1989 commented on #36
@christian-lechner I pushed the changes in `TimeStringConverters` (see [commit](https://github.com/arangodb/spring-data/commit/067b5fd8e683f10604b40bcccaa687ce949cdc72)).

In terms of `java-velocypack-module-joda`, I don't know if I want to use `DateTimeFormatter` since the module is currently compatible with Java 6 and I am not sure if it is a good idea to drop this.

[2018-04-19 12:24] #17 closed

[2018-04-19 12:54] christian-lechner commented on #36
You should keep the Java 6 compatibility ;)

But the `java-velocypack-module-joda` is now behaving differently than the `java-velocypack-module-jdk8` (serialization of `LocalDateTime` and `LocalDate`).

The `JodaTimeStringConverters` in this project can be adapted to the new serialization format from (that format from `java.time`).

[2018-04-19 13:08] christian-lechner commented on #36
You can keep the Java 6 compatibility as Joda Time is compatible with Java 5.

The `java-velocypack-module-joda` is now behaving differently than the `java-velocypack-module-jdk8` (serialization of `LocalDateTime` and `LocalDate`).

The `JodaTimeStringConverters` in this project should be adapted to the new serialization format (the format from `TimeStringConverters`) or removed as for Java 8 we h

[2018-04-19 16:10] christian-lechner commented on #36
@mpv1989 you wrote:

As Joda Time and `java.time` are different libraries you can't even use `DateTimeFormatter `of `java.time` for Joda Time. To make it clear:

So you need to use formatter and parser from Joda Time and thus you stay Java 6 compatible. I've created a Gist for you that shows how you could do it: [JodaTimeUtil.java](https://gist.github.com/christian-lechner/88c1997558b541238e7f1d9a

[2018-04-20 09:04] mpv1989 commented on #36
@christian-lechner Thanks for your Gist. Just a little note. I had to change one method
[code]
Without the parameter `ISODateTimeFormat.dateTime()` the timezone is not parsed correct. You can't see this in the saved document or when you call `toString()` on an deserialized object but when you call `equal()` against the original you see that they are not equal.

[2018-04-20 09:25] mpv1989 commented on #24
changed in 2.1.0

[2018-04-20 09:25] #24 closed

[2018-04-20 09:26] mpv1989 commented on #25
changed in 2.1.0

[2018-04-20 09:26] #25 closed

[2018-04-20 09:26] mpv1989 commented on #36
Just released 2.1.0. Thanks again for your contribution

[2018-04-20 09:26] #36 closed

[2018-04-20 09:26] mpv1989 commented on #21
Fixed in 2.1.0

[2018-04-20 09:26] #21 closed

[2018-04-20 09:33] mpv1989 opened #38 "Feature request: support of reactive types"
We should add support for reactive types.
[understanding-reactive-types](https://spring.io/blog/2016/04/19/understanding-reactive-types)
[going-reactive-with-spring-data](https://spring.io/blog/2016/11/28/going-reactive-with-spring-data)

[2018-04-20 10:27] christian-lechner commented on #36
@mpv1989 I think you made a mistake here.

`DateTime.parse(String)` uses `ISODateTimeFormat.dateTimeParser().withOffsetParsed()` internally. The `withOffsetParsed()` means that (if there is an offset) it is parsed and stored in the `DateTime `object.

If you use the constructor `new DateTime(source)` or `DateTime.parse(source, ISODateTimeFormat.dateTime())`, the offset is set to the system default

[2018-04-20 11:29] mpv1989 commented on #36
@christian-lechner Ok, that makes total sense. Thanks, I will fix this and release a new patch version

[2018-04-22 20:01] mxmind opened #39 "After migration on the latest version (2.1.0) unable to deserialize enums"
We used the spring-data library with a bit old version (2.0.1) everything was ok. But a few days ago after migration to the latest stable version we faced very strange behavior with the serialization of enums.
Just, for example, user status enum is:
[code]
Previously, it was saved in database as string, but now saved as following structure:
[code]

Could you add proper serialization of enums?

P.S

[2018-04-23 07:42] mpv1989 commented on #39
Hi @mxmind,

thanks for reporting. I released bug-fix release `2.1.2`

best
Mark

[2018-04-23 07:42] #39 closed

[2018-04-23 16:51] haqer1 commented on #17
This issue is not closed until PR 18 is merged: PR #33 is not a solution for this issue, & i'd never use such a data-polluting approach.

[2018-04-23 17:21] haqer1 opened #40 "Optimize/fix data-pollution/disk-space-waste, memory, bandwidth, CPU & money waste, as well as avoid visual clutter & tight-coupling between DB & Java (that was introduced last week)"
PR #33 introduced data pollution for mainstream inheritance types like TABLE/COLLECTION per ENTITY/DOCUMENT. For TABLE/COLLECTION_PER_CLASS type inheritance there is already an entire
TABLE/COLLECTION dedicated for the class involved, so there's no need to store anything type-related as a property/column (let alone the fully-qualified class name).

[2018-05-05 00:18] nordgreg opened #43 "Problems with @To and @From annotation"
do the To and From annotations work in the spring data project?

when I try to retrieve edge documents using the From attribute, I get "nested exception is java.lang.StackOverflowError".   I can see the docs and the edge in the database.  but when I use the repository (actorRepository.findByName), i get the above error.   When I remove the From annotation, I don't get that error

[code]

[2018-05-05 05:26] christian-lechner commented on #43
This is happening because of a cyclic reference: Actor -> Role -> Actor -> ...
Use lazy=true on one of the @From annotations to break the cycle.

[2018-05-07 11:12] haqer1 commented on #43
If there's no advantage (in the context of requirements), i'd personally use @ Ref instead of From or To. And for me Ref of List type acted lazily by default.

P.S. This might also be pointing to different laziness semantics for From & Ref, which would probably be a bug that's worth logging (& addressing).
P.P.S. For comparison, all -to-many associations in JPA are lazily loaded by default.

[2018-05-07 12:39] nordgreg commented on #43
@christian-lechner thanks. there's a similar type of issue that occurs in the neo4j spring data, but it's addressed differently.  in this case, the lazy = true setting didn't work.  I tried adding the lazy config on first the Doc's @ From and then Edge's @ From (see below as example)

[code]

in both cases, the error returned was:
[code]

in this specific case, I only have one actor and three movi

[2018-05-07 12:53] christian-lechner commented on #43
@haqer1

That's not possible. All relations are loaded eagerly by default.

@nordgreg
The `lazy=true` is the solution for your stack overflow error. The new exception is interesting. Which OS and Java version do you use? Can you try with "normal" getter method (without lombok generated one)?

[2018-05-07 13:10] nordgreg commented on #43
mac os and 1.8.0_161.

yes.  same error.

[2018-05-07 15:03] nordgreg commented on #43
having trouble finding the neo4j example.  it was a _while_ ago when I was working on it :)

i'll put together the repo as soon as I can.

[2018-05-07 19:15] christian-lechner commented on #43
I put together a small example: [movie-platform-test](https://github.com/christian-lechner/movie-platform-test). This works fine on my machine. Can you try it please?

A Google search shows that the cause may be an infinite recursion. Can you post the complete stack trace?

[2018-05-07 19:17] nordgreg commented on #43
wow. thank you for doing that.

i'll try it out today.

[2018-05-07 19:20] nordgreg commented on #43
fyi, we're not on spring-boot 2.0, therefore still on spring-arango 1.x

moving to boot 2.0 is likely not an option - unfortunately.

[2018-05-07 19:44] christian-lechner commented on #43
I downgraded the dependencies to spring-boot 1.5.12 and spring-data-arangodb 1.1.2. Still working on my machine ;)

[2018-05-08 15:18] nordgreg commented on #43
thanks, @christian-lechner.  first, thanks again for looking at this.  there's definitely acceptable work-arounds to meet the goal.

that said, I will post it asap.  got another, unrelated priority issue I need to address.

[2018-05-08 15:35] christian-lechner commented on #43
I would be really interested in your use case and which work-arounds are necessary to meet your goal. Are these work-arounds necessary due to bugs or limitations in this project?

[2018-05-08 16:03] nordgreg commented on #43
maybe a bit of both. workaround _might_ not be the best word choice...i'm just accomplishing the same thing using AQL.  I'd prefer to use the library, but if it works, it works :)

[2018-05-17 03:44] Jeffsyl01 opened #46 "2.0.x don't work"
I try to use Spring Data ArangoDB 2.0.0 in spring-data-demo-master.
There is a ParseException when running CrudRunner .

Exception detail:

[code]

pom :

	<parent>
		<groupId>org.springframework.boot</groupId>
		<artifactId>spring-boot-starter-parent</artifactId>
		<version>2.0.2.RELEASE</version>
	</parent>
	<properties>
		<project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
		<jav

[2018-05-17 06:57] christian-lechner commented on #46
Can you use the `2.0.0.RELEASE` of `spring-boot-starter-parent`? With `2.0.0` it seems to work. Maybe they changed the behavior of converter handling. I will have a look at this.

[2018-05-17 07:36] mpv1989 commented on #46
Yes. It looks like there is now the need of annotating `Converter`s with `@ReadingConverter` otherwise they are used for writing. I committed a [fix](https://github.com/arangodb/spring-data/commit/b649dbece229e17dd39ad303e57746078fabee2b)

[2018-05-17 07:57] mpv1989 commented on #46
I also upgraded our spring demo. It now uses arangodb-spring-data `2.1.3` and spring-boot-starter-parent `2.0.1.RELEASE`.

[2018-05-17 08:10] christian-lechner commented on #46
The changelog of the `2.0.7.RELEASE` of Spring Data Commons says:
`* DATACMNS-1294 - Consider types in java.time to be simple.`

They did the following in `SimpleTypeHolder#isSimpleType`:
[code]

Instead of adding the `java.time` classes to their default type array (the registration of the default types can be prevented by passing `false` to the constructor), they added the check for `java.time` d

[2018-05-17 08:34] mpv1989 commented on #46
@christian-lechner the writing converters in `TimeStringConverters` are still used. I don't know whether we should remove them. They behave different for `LocalDate` and `LocaeDateTime` like in Spring Data core where they are converted in format `yyyy-MM-dd'T'HH:mm:ss.SSS'Z'`. Our converters behave like described in #36

[2018-05-17 08:41] christian-lechner commented on #46
You are right, they are still used. What I meant was: they should have no effect, since they are now simple types they should be passed to the Java driver as they are.

But Spring registers the `org.springframework.data.convert.Jsr310Converters` by default which does a different conversion as you wrote. So we need our writing converters ;)

[2018-05-17 09:31] mpv1989 commented on #46
@christian-lechner

I would leave them in for backward compatibility.

Good point.

Speaking of `ArangoCursor` and Spring Data `2.0.7-RELEASE`, there is a [commit](https://github.com/spring-projects/spring-data-commons/commit/5986b4b7afc84105bdd45c26e9a59c708b975506) which removes the possibility to use `ArangoCursor` as a return type for repository methods. :-(

[2018-05-17 10:03] christian-lechner commented on #46
Or add them to `ArangoSimpleTypes`.

I see. The generic type argument of `ArangoCursor` is not unwrapped anymore. That's not that much of a problem, since we can override the `QueryMethod#getReturnedObjectType()` method in `ArangoQueryMethod`:

[code]

I think this should do the trick?

[2018-05-17 10:41] christian-lechner commented on #46
Ok this leads to a NPE. As the super constructor creates a `ResultProcessor` which uses the `getReturnedObjectType()` method. But the member var `method` of `ArangoQueryMethod` is not yet set.

[2018-05-17 11:06] christian-lechner commented on #46
The only thing we can do for now is in `ArangoQueryMethod`:
[code]

And in `AbstractArangoQuery#getResultClass()`:
[code]

[2018-05-17 11:13] mpv1989 commented on #46
Yes, I also see no other (not dirty) way.

[2018-05-17 11:51] christian-lechner commented on #46
@mpv1989 I created an issue for this: https://jira.spring.io/browse/DATACMNS-1323

Let's see what they say.

[2018-05-17 14:35] christian-lechner opened #47 "ArangoCursor support in repository query methods"
This is a follow-up issue of #46 and [DATACMNS-1323](https://jira.spring.io/browse/DATACMNS-1323).

Oliver Gierke thinks that something like a cursor should not be used in client repository code. Any opinions on this?

If it should be further supported, we can't just override `QueryMethod.getReturnedObjectType()` as this leads to a NPE. @mpv1989 added the workaround from #46.

The "Spring Data way

[2018-05-17 14:37] christian-lechner commented on #46
@mpv1989 we should continue in #47.

[2018-05-17 17:15] christian-lechner commented on #47
I implemented Oliver Gierke's suggestion and it works as expected: [ArangoRepositoryFactory](https://github.com/christian-lechner/spring-data/blob/cursor_support/src/main/java/com/arangodb/springframework/repository/ArangoRepositoryFactory.java).

[2018-05-18 08:47] Jeffsyl01 opened #48 "Is there any transaction mechanism in arangodb？"
I was trying to perform transactional operation using spring data arangodb,but it failed。Is there any transaction mechanism in arangodb？
[code]

[2018-05-20 05:54] mpv1989 commented on #47
@christian-lechner Cool. I would like to support ArangoCursor. As you have already written in the ticket, you can get back more information and these could be also improved in the future.

[2018-05-20 05:59] mpv1989 commented on #48
Please take a look here #20

[2018-05-20 07:59] christian-lechner commented on #47
@mpv1989 If you like, I can submit a PR next week that makes use of the Spring Data `ResultProcessor` to obtain the correct type and to support projections.

[2018-05-21 02:41] Jeffsyl01 commented on #48
@mpv1989 thanks!

[2018-05-21 02:41] #48 closed

[2018-05-22 08:55] christian-lechner commented on #47
@mpv1989 I created PR #49.

[2018-05-22 11:42] mpv1989 commented on #47
@christian-lechner PR merged, thank you

[2018-05-22 11:42] #47 closed

[2018-05-22 17:33] christian-lechner commented on #40
This issue doesn't make any sense, as there is no COLLECTION_PER_CLASS inheritance in this project.

[2018-05-22 17:34] christian-lechner commented on #43
@nordgreg do you have any further information for us about this issue?

[2018-05-23 06:44] #40 closed

[2018-05-26 05:22] adipurapunya opened #50 "Pagging With Pageable is not work"
I have custom query with only few field in RETURN like this

@Query("FOR person IN persons RETURN {id : person._id, name : person.name, username : person.username, email : person.email, profilFacebookId: person.profilFacebookId, gender : person.gender}")
Page  `<` PersonWithoutLinkPhotos `>` findAllPersonsWithoutLinkPhotos(Pageable arg0);

My Controller
final Pageable pageable = PageRequest.of(0,

[2018-05-28 14:14] haqer1 commented on #40
False.

For the (apparently) unenlightened:
COLLECTION_PER_CLASS: means when there are 2+ documents/entities one extending another (& when EACH of them is marked as @ Document), each one is stored in a separate collection (in SQL jargon: table). This is extactly how ArangoDB works (as also stated in the original issue: https://github.com/arangodb/spring-data/issues/17#issue-304481714): again, clai

[2018-05-30 07:01] adipurapunya opened #52 "Fetch Data By Field filtering is not work"
My Person Repository :
Iterable<Person> findByName(String name);

when I fetch data using native query or findByName query with Filter one column is always error like this

java.time.format.DateTimeParseException: Text 'dewi' could not be parsed at index 0
	at java.time.format.DateTimeFormatter.parseResolved0(DateTimeFormatter.java:1949) ~[na:1.8.0_172]
	at java.time.format.DateTimeFormatter.parse

[2018-05-30 07:11] christian-lechner commented on #52
Please use Spring Boot 2.0.1.RELEASE. There was a change in Spring Data with the 2.0.2.RELEASE that keeps Spring Data ArangoDB 2.1.3 from working correctly. This will be fixed in the next release of Spring Data ArangoDB.

[2018-05-30 07:31] #52 closed

[2018-05-31 04:05] adipurapunya opened #53 "Like Expression with '%param%' does not work in custom query"
My Repository

[code]

always return error like this

`com.arangodb.ArangoDBException: Response: 400, Error: 1552 - AQL: bind parameter 'name' was not declared in the query (while parsing) at com.arangodb.internal.util.ResponseUtils.checkError(ResponseUtils.java:53) ~[arangodb-java-driver-4.4.0.jar:na] at com.arangodb.internal.velocystream.VstCommunication.checkError(VstCommunication.java:116) ~[a

[2018-05-31 04:15] positiveneutron commented on #53
I'm newbie at JAVA. I have some problem too, I believe that is about typing rules.

[2018-05-31 04:42] nurmanhariyanto commented on #53
I have same problem too, need a solution :)

[2018-05-31 06:37] christian-lechner commented on #53
You have two possibilities:

1. Create the like expression in Java:
[code]

2. Use AQL:
In order to concatenate `%` with a bind parameter you need to use `CONCAT` function.
[code]

[2018-05-31 07:02] adipurapunya commented on #53
Ok. Thank you. everything is works ..... 👍

[2018-05-31 07:03] #53 closed

[2018-06-04 11:15] Sinisterish opened #54 "you don't have any query lookup strategy defined"
i get "You have defined query method in the repository but you don't have any query lookup strategy defined. The infrastructure apparently does not support query methods!"
when trying to run a springboot app with arango repository containing @query
`public interface TraversalRepository extends ArangoRepository<BaseDocument>{
@Query(value="FOR vcenter IN PV return vcenter")
	Iterable<BaseDocument>

[2018-06-04 12:30] mpv1989 commented on #46
@Jeffsyl01 I just released version `2.1.4` which is compatible with Spring `5.0.2.RELEASE` and Spring Data `2.0.7.RELEASE`

[2018-06-04 12:31] #46 closed

[2018-06-04 12:32] mpv1989 commented on #50
@adipurapunya I just release version `2.1.4` and `1.1.3` which supports paging and sorting for native queries. Take a look into the [docs](https://github.com/arangodb/spring-data/blob/master/docs/Drivers/SpringData/Reference/README.md#paging-and-sorting) how to use it.

[2018-06-04 12:32] #50 closed

[2018-06-04 13:24] christian-lechner commented on #54
Have you changed the `EnableArangoRepositories.queryLookupStrategy()`? Can you try to use the latest stable version of Spring Boot (2.0.2.RELEASE)?

[2018-06-04 13:29] christian-lechner commented on #54
Interesting. The `pom.xml` of Spring Data ArangoDB already includes this dependency.

[2018-06-04 13:32] mpv1989 commented on #54
@christian-lechner but when you use
[code]
it gets overwritten with spring-data-commons 2.1.0.M3, which looks like is not compatible with Spring Boot 2.1.0.

@Sinisterish as @christian-lechner already said, it is highly recommended to use Spring Boot 2.0.2.RELEASE

[2018-06-05 06:40] adipurapunya commented on #50
I have tried version 2.1.4 and success.
But, when I build my spring boot project as war and deploy in server production by using apache-tomcat-8.5.14, that is error like this:

[2018-06-05 07:53] christian-lechner commented on #50
@adipurapunya I packaged a simple Spring Boot application that uses the new paging feature of native queries into a WAR and deployed it under Tomcat 8.5. It worked for me. Have you used an old version of Spring Data ArangoDB to build your WAR?

[2018-06-05 08:14] christian-lechner commented on #50
@adipurapunya Look [here](https://github.com/christian-lechner/movie-platform-test) to see how to do it. To build the WAR do `mvn clean package`.

[2018-06-05 10:01] adipurapunya commented on #50
Ok. I will try that. let me try .....

[2018-06-05 19:43] bthj-tms opened #55 "java.lang.String converted to java.time.Instant"
When saving a simple Java bean (Character from the demo) I'm getting the error:

[code]

where the value is from a String property (name), containing nothing resembling  a date.

Debugging this I see that in the method `getOrCreateAndCache` in `com.arangodb.springframework.core.convert.CustomConversions` calls `producer.get()`  which has the property `sourceType.name` set to "java.lang.String" but

[2018-06-06 06:52] christian-lechner commented on #55
This issue is already fixed with Spring Data ArangoDB 1.1.3.

[2018-06-06 12:28] mpv1989 opened #56 "improve query logging"
We should log possible query warnings.

[2018-06-06 16:08] bthj-tms commented on #55
Thanks, that version indeed fixed the problem :)

I didn't see that version at
https://mvnrepository.com/artifact/com.arangodb/arangodb-spring-data
- is there a better source to watch new releases?

[2018-06-06 16:12] bthj-tms commented on #55
...I see the version at https://search.maven.org so I guess that site is a better option.

[2018-06-07 07:40] christian-lechner commented on #55
The best source is, of course, the official [Maven Central Repository](https://repo.maven.apache.org/maven2/). The Central Repository gets its data from a few other repositories. It's updated every few hours or so.

One of them is [OSS Sonatype](https://oss.sonatype.org/content/repositories/) which is used by this project here. As data is directly uploaded to this repository, it's also the most up

[2018-06-07 08:32] bthj-tms commented on #43
In the [movie-platform-test](https://github.com/christian-lechner/movie-platform-test), what would be the correct way of including / annotating a
`List<Actor> actors` in the `Movie` class
and including
`List<Movie> movies` in the `Actor` class
?

Annotating both the above lists with
`@Relations(edges = Role.class, lazy = true)`
would probably produce the "java.lang.instrument ASSERTION FAILED..."

[2018-06-07 08:48] christian-lechner commented on #43
You need to set on at least one of the `@Relations` annotations the `lazy=true` attribute. Otherwise you will get a stack overflow error (Movies - > Actors -> Movies -> ...).

We still do not know how @nordgreg produced the `java.lang.instrument ASSERTION FAILED...` error, because he hasn't provided any details since then.

[2018-06-07 09:20] bthj-tms commented on #43
I've tried setting `lazy=true` on both or one of the `@Relations`, and in both cases I'm producing this `java.lang.instrument ASSERTION FAILED` error - but I'm not doing exactly the same things as @nordgreg, as I'm not placing `List<Role> roles` within one of the entity classes but rather `List<OneEntity>` within `AnotherEntity`.

What I'm then doing is similar to:
- Saving an `Actor` instance, wh

[2018-06-07 12:06] christian-lechner commented on #43
@bthj-tms I think I've fixed this issue with PR #57.

@mpv1989 can you please have a look at PR #57?

[2018-06-07 12:19] mpv1989 commented on #43
@christian-lechner thanks a lot
@bthj-tms @nordgreg I will release a new version asap

[2018-06-07 12:34] christian-lechner commented on #43
@mpv1989 Awesome!

Quite difficult to find the source of the infinite recursion. I got many exceptions while running/debugging, but none of them was a `java.lang.instrument ASSERTION FAILED` error or a stack overflow error. Maybe the JVM went crazy because of the proxy classes.

@bthj-tms Thanks for pointing us in the right direction.

[2018-06-07 12:48] christian-lechner commented on #43
@mpv1989 please wait with your release! Maybe this error is also in `FromResolver` and `ToResolver`.

[2018-06-07 12:54] christian-lechner commented on #43
@mpv1989 we should revise this before you release new versions. Typically the `type` in the `resolve` methods is the actual type. Now we are mixing them up. I will check this!

[2018-06-07 13:08] christian-lechner commented on #43
@mpv1989 You were too fast releasing new versions. With my PR I'm mixing the container type and the component type. We need to fix it differently.

[2018-06-07 13:11] mpv1989 commented on #43
@christian-lechner Yes, and returning `null` in your fix also causes to problems https://github.com/arangodb/spring-data/blob/master/src/main/java/com/arangodb/springframework/core/convert/resolver/RelationsResolver.java#L70

[2018-06-07 13:22] christian-lechner commented on #43
@mpv1989 to return the list is ok, as it was before. I mixed component and container type. I'll try a better fix. Is there a chat or something where I can reach you better and keep you from publishing the next time :D

[2018-06-07 14:35] mpv1989 commented on #43
I just released version `1.1.5` and `2.1.6` which contains a fix for this bug.

[2018-06-08 01:30] bthj-tms commented on #43
Thank you so much, @christian-lechner and @mpv1989 - I can confirm that the error is gone with version `1.1.5`.

Another related question:

How can I populate a collection annotated with  `@Relations(edges = Clazz.class, lazy = true)`?

If I return the results through a REST endpoint based on Jackson, I get the error
`JsonMappingException: object is not an instance of declaring class`

If I change

[2018-06-08 06:28] christian-lechner commented on #43
The proxy class should not hinder Jackson from serializing.

Do you have messed with your classpath and have two different class loaders present? You should check your imports. Do you have two classes with the same name? Check the `_class` attribute of your actors and movies in the DB: it should contain the fully qualified class name. Does it differ from the one you've imported in your class?

The

[2018-06-08 16:30] bthj-tms commented on #43
Thanks for the hints.

In fact I was using a `Set`, as [that's supposed to be good for `@ManyToMany` mappings with JPA](https://vladmihalcea.com/the-best-way-to-use-the-manytomany-annotation-with-jpa-and-hibernate/), but have now changed to `List`.

The solution for me was to set something like
[code]
and
[code]
as suggested in http://springquay.blogspot.com/2016/01/new-approach-to-solve-json-recu

[2018-06-08 17:08] christian-lechner commented on #43
Sets will be supported with the next release.

[2018-06-11 01:18] bthj-tms commented on #43
One more question:

Now that I have related collections loading and returning fine, I wonder how I stop them from loading:
They are annotated with `@Relations(..., lazy=true)` and if I do nothing to trigger the lazy loading - like `actor.getMovies.size()` - they are still returned as populated.

I can do:
[code]
and so limiting the data being returned to the client, but am I then limiting the data

[2018-06-11 05:37] christian-lechner commented on #43
By "populated" you mean serialized by Jackson to JSON? Keep in mind that Jackson triggers the resolution of the lazy loading class with its serialization process (by accessing it).

If you don't access movies before you set them to `null`, they are not loaded from the DB. So yes, you can reduce querying effort with this approach.

[2018-06-11 05:50] bthj-tms commented on #43
Thanks for explaining how this works.  That's what I meant by _populated_.

[2018-06-11 17:00] haqer1 opened #62 "There are some typos in verbiage for an exception & in javadoc."
In `@Edge`, & DefaultArangoConverter.

[2018-06-11 17:34] haqer1 commented on #62
Just added a few more fix-ups in `@Document`, `@From`, `@Ref`, `@Relation`, & `@To` (in PR #63).

[2018-06-12 18:46] haqer1 opened #64 "Fix incorrect equality comparison in AbstractArangoQuery.execute (& associated compiler warning)"
`GeoPage.class.equals(method.getReturnType())`
is meaningless & is always false.

P.S. Compiler warning:
Unlikely argument type for equals(): TypeInformation<capture#3-of ?> seems to be unrelated to Class<GeoPage>

[2018-06-14 06:35] mpv1989 commented on #62
I merged your PR, thanks.

[2018-06-14 06:35] #62 closed

[2018-06-14 06:54] mpv1989 commented on #64
Thanks for reporting. I pushed a fix.

[2018-06-14 06:54] #64 closed

[2018-06-14 08:30] haqer1 opened #67 "The way keys are obtained from IDs needs to be optimized"
1. now 2 substrings are generated, whereas only 1 is needed.
2. now an array of size 2 is allocated, which is not needed at all.
3. there is code duplication.

[2018-06-14 08:32] christian-lechner commented on #67
Maybe:
[code]

[2018-06-14 08:42] haqer1 opened #69 "Better automated testing of in-bound & out-bound traversals with various depths based on arangodb-spring-data is needed"
This should be well tested too.

[2018-06-14 11:21] haqer1 opened #71 "For a class with a declared @Edge annotation, there is no need to store any type-related properties/columns, because it causes numerous issues & inefficiencies (for graphs)"
For a class with a declared @Edge annotation, there is no need to store any type-related properties/columns, because it causes numerous issues & inefficiencies (for graphs), such as:
1. waste of disk space
2. waste of memory
3. unnecessary band-width utilization
4. waste of CPU cycles
5. issues 1-through-4, can lead to considerable & even noticeable increase in latency (responsiveness)
6. issues 1

[2018-06-14 13:18] christian-lechner commented on #71
----
I don't think it's a good idea to remove the type information from `@Edge` classes. It's the same for them as for `@Document` classes:
[code]

Such a use case is then no longer supported.

[2018-06-14 14:42] haqer1 opened #73 "Don't forget to tag releases & push (release) tags: 2.1.7 not properly tagged on github"
`ikincil-dev@ziya-u16:~/development/projects/tiers/arangodb/truth/head/spring-data$ head -n 10 pom.xml | grep version`
	<version>2.1.7</version>
`ikincil-dev@ziya-u16:~/development/projects/tiers/arangodb/truth/head/spring-data$ git tag | tail -n 5`
2.1.2
2.1.3
2.1.4
2.1.5
2.1.6
`ikincil-dev@ziya-u16:~/development/projects/tiers/arangodb/truth/head/spring-data$ `

[2018-06-14 15:00] christian-lechner commented on #73
The tag will be added when it's released to Sonatype.

[2018-06-14 20:33] haqer1 commented on #71
Everybody at ArangoDB has had enough of weird examples. If there is a automated test that is valid, & doesn't pass with PR 72, check it into the repository.

False: this PR doesn't touch children of a class that declares `@Edge` annotation (which do not declare `@Edge` themselves). Thus, if Spring Data ArangoDB supported that, this PR wouldn't affect it.

Child & Friendship above are not usable fo

[2018-06-15 07:45] mpv1989 commented on #73
I was not able to release yesterday. Release is now done and tags are also created

[2018-06-15 07:45] #73 closed

[2018-06-15 07:46] mpv1989 commented on #69
merged your PR, thanks

[2018-06-15 07:46] #69 closed

[2018-06-15 07:46] mpv1989 commented on #67
merged your PR, thanks

[2018-06-15 07:46] #67 closed

[2018-06-15 07:47] #55 closed

[2018-06-15 07:49] mpv1989 commented on #54
I'm assuming the problem does not exists anymore. I'll close this issue, feel free to open it again if the problem still persists

[2018-06-15 07:49] #54 closed

[2018-06-15 07:51] mpv1989 opened #74 "Feature: support of views"
https://docs.arangodb.com/devel/HTTP/Views/

[2018-06-15 07:52] mpv1989 opened #75 "Feature: support of lifcecycle events"
https://docs.spring.io/spring-data/mongodb/docs/current/reference/html/

[2018-06-15 07:53] mpv1989 commented on #43
I'm assuming the problem does not exists anymore. I'll close this issue, feel free to open it again if the problem still persists

[2018-06-15 07:53] #43 closed

[2018-06-15 07:55] mpv1989 opened #76 "Feature: support of named graphs"
https://docs.arangodb.com/3.3/Manual/Graphs/#named-graphs

[2018-06-15 07:58] mpv1989 opened #77 "Feature: support of all spring data annotations"
https://docs.spring.io/spring-data/commons/docs/current/api/org/springframework/data/annotation/package-summary.html

[2018-06-15 08:05] mpv1989 opened #78 "Feature: change @Id to save _key instead of _id"
Currently a field annotated with `@Id` is saved as `_id` in ArangoDB. Since this field is more for internal usage and does not offer any benefit to the user, we should change `@Id` to represent the document field `_key` instead, like `@Key` currently does. This eliminates the need of having two fields (for `@Id` and `@Key`) when using user generated keys.

[2018-06-15 08:06] mpv1989 opened #79 "Feature: support of non-String types for _key"
after #78 is done, this feature should work for `@Id`

[2018-06-15 08:09] mpv1989 opened #80 "Feature: support of @Transactional"

[2018-06-15 12:17] mpv1989 opened #81 "Feature: support of repsert in ArangoRepository.save() & ArangoOperations"
Since version 4.5.0 the Java driver supports repsert (replace-insert) with `ArangoCollection.insertDocument(doc, new DocumentCreateOptions().overwrite(true))`.

This should be used in `ArangoRepository.save()` and should be provided instead of `upsert()` in `ArangoOperations`.

[2018-06-20 05:53] lbyoo commented on #80
I'm looking forward to when it will come true

[2018-06-26 07:16] deluxxx opened #84 "Support for findByFirstnameContaining"
When I use findByFirstnameContaining the result is 0.

I have to create AQL.

[2018-06-26 09:28] mpv1989 commented on #84
@deluxxx Thanks for reporting.

[2018-06-26 09:40] mpv1989 commented on #84
@deluxxx I fixed the bug and released new versions (`1.1.8` and `2.1.9`)

[2018-06-26 09:40] #84 closed

[2018-06-26 16:52] haqer1 opened #85 "The way collection name is obtained from id needs to be optimized"
1.    now 2 substrings are generated, whereas only 1 is needed.
2.    now an array of size 2 is allocated, which is not needed at all.

P.S. The 3rd inefficiency from issue #67 is not encountered in the code yet, but sooner or later there will be duplication as well, unless this issue is fixed:
3.    there is code duplication.
So item 3. can be counted as a likely future issue.

[2018-06-26 16:59] haqer1 commented on #85
Following on the P.S. above, another one of my PRs already uses the new method in #86.

[2018-06-26 17:13] haqer1 opened #87 "Type-related properties/columns must to be persisted for all @Documents"
For any class with a declared `@Document` annotation there is no need to store any type-related properties/columns, because
there is already an entire COLLECTION/TABLE dedicated to the class involved (with the exception of single-collection for multiple classes case).
Because it causes numerous issues & inefficiencies, such as:
1.    waste of disk space
2    waste of memory
3.    unnecessary band-

[2018-06-26 19:27] haqer1 opened #89 "All PR merges should reference the PR (or the issue for which it is submitted) & have an accurate comment"
E.g.:
https://github.com/arangodb/spring-data/commit/558d17a1863e10a7f593997c375df3064c3a6637
references neither PR #68 nor issue #67.
And the comment

is misleading because it doesn't reflect any of the issues fixed:

OR
the title on the PR:

[2018-06-27 07:14] mpv1989 commented on #85
@haqer1 Thanks for reporting and fixing

[2018-06-27 07:14] #85 closed

[2018-06-27 07:16] mpv1989 commented on #89
thank you for the advice, we will try to pay more attention to it in the future. In any case you are right, a reference to the PR is not wrong

[2018-06-27 07:16] #89 closed

[2018-07-02 09:29] mpv1989 commented on #71
I think a selective storage of type information is the wrong approach. This is neither easy to understand nor easy to maintain for a developer using Spring Data without having all the background knowledge.

[2018-07-02 09:29] mpv1989 commented on #87
same as in #71

[2018-07-02 16:27] ZachHerridge opened #92 "Question: ArangoRepository.save usage"
We have documents which have fields annotated like:
`
@Id
private String id;

@Key
private String key;
`

Previously setting the key field then calling ArangoRepository.save would result in the document being saved. With today's release if a document does not already exist with the key a error is thrown saying the document does not exist which is true. Is this how save should work?

[2018-07-03 08:23] mpv1989 commented on #92
Hi @ZachHerridge ,

we had to change the `ArangoOperations#upsert` method, which is used by `ArangoRepository.save()` because it didn't worked when one is only using the `@Key` annotation and not `@Id` in addition. Sadly we forgot the case when someone is using user generated keys, like you probably do.

I talked with a colleague about the correct Spring way for this case and we came up with the s

[2018-07-04 07:51] mpv1989 commented on #92
I released version 1.2.1 and 2.2.1 including the fix.

I will close this issue, feel free to open it again if something does not work as expected.

[2018-07-04 07:51] #92 closed

[2018-07-04 07:52] mpv1989 commented on #81
REPSERT now supported with version 1.2.1 and 2.2.1.

[2018-07-04 07:52] #81 closed

[2018-07-09 11:10] haqer1 commented on #71
@mpv1989: Are you insane? There is no "selective storage of type information" in PR #72. **All** `@Edge` records can, should, & really must be persisted without fully-qualified class name. Do you understand the meaning of the word "all" (as opposed to "some")? Or is it all a blur to you?

As i've mentioned (https://github.com/arangodb/spring-data/issues/71#issuecomment-397429392), PR #72 is alread

[2018-07-09 17:37] mpv1989 commented on #56
done with 27ae55b6f784f010829814a4b9204be4918ac511

[2018-07-09 17:37] #56 closed

[2018-07-25 17:04] bthj opened #104 "non-collection @Relation(s)"
Is something like this possible?
[code]
or does it always have to be a collection, like
[code]

If I'm sure there will always be just one itinerary linked to the document, what would be the best / a good approach?

[2018-07-25 17:48] christian-lechner commented on #104
This is currently not supported - it would throw an `UnsupportedOperationException`. I'll come back to you tomorrow and give you more info.

[2018-07-25 17:53] bthj commented on #104
Thanks :)

[2018-07-26 07:08] christian-lechner commented on #104
@bthj currently you need to use a collection for `@Relations` fields, but we've added this feature to our enhancement list.

[2018-07-26 18:59] bthj commented on #104
Great!

For now I've got the desired results by changing the getter/setter for the `@Relations` attribute to `private` and then adding a corresponding _singular_ attribute, whose getter utilizes the corresponding collection (e.g. `getItinerary()` returns the first element from `itineraries`, if available).

[2018-07-26 19:45] christian-lechner commented on #104
Why do you need private getter/setter methods for `itineraries` and a singular attribute? A `itineraries` field and a `getItineraray()` and `setItinerary(..)` that access the `itineraries` list should be enough.

Btw: Which version of Spring Data ArangoDB do you use?

[2018-07-26 21:17] bthj commented on #104
Ah, of course - that's simpler :)

I'm still on 1.1.5 - I tried upgrading but got errors when upserting, saving documents with the id set, saying the document didn't exist, maybe I need to set the key also, will try that tomorrow...

[2018-07-29 22:37] sigh-man commented on #78
Hi,  Will this also be added to the 1.x.x branch?  (I haven't upgraded spring data yet)

[2018-08-01 09:46] mpv1989 commented on #78
Yes, arangodb-spring-data 3 will require spring-data 2

[2018-08-02 09:53] mpv1989 commented on #79
Implementation done. Feature will be included in the upcoming 3.0.0 release

[2018-08-02 09:53] #79 closed

[2018-08-02 09:53] mpv1989 commented on #78
Implementation done. Feature will be included in the upcoming 3.0.0 release

[2018-08-02 09:53] #78 closed

[2018-08-02 09:53] mpv1989 commented on #75
Implementation done. Feature will be included in the upcoming 3.0.0 release

[2018-08-02 09:53] #75 closed

[2018-08-03 03:28] Jeffsyl01 opened #113 "ArangoExampleConverter not support ExampleMatcher.StringMatcher.CONTAINING"
In ArangoExampleConverter.addPredicate
only support  STARTING、ENDING、DEFAULT、EXACT，not support  CONTAINING
`switch (stringMatcher) {
			case STARTING:
				value = "^" + escape(string);
				break;
			case ENDING:
				value = escape(string) + "$";
				break;
			case DEFAULT:
			case EXACT:
			default:
				value = "^" + escape(string) + "$";
				break;
			}`

[2018-08-03 15:54] manishtha86 opened #114 "XML Configuration of ArangoDb collections"
As an alternative to annotations, is there any plan to support xml configuration of ArangoDb collections (documents, edges, etc)?

[2018-08-07 08:42] manishtha86 commented on #114
Thanks for getting back Mark. While configuring the entity manager in Spring Data it does give you an option to specify the XML configuration file of your entity (e.g. when using hibernate, we use the .hbm.xml file) That way i have the option to not put an persistence layer specific annotations (e.g. @Entity, @Document, @Id, etc) in my model and i can share those with my service consumers (without

[2018-08-09 09:47] mpv1989 commented on #114
Ok, but this is a hibernate and not Spring Data feature. We could think about implementing this feature in the underlying [arangodb-java-driver](https://github.com/arangodb/arangodb-java-driver).

Feel free to open a feature request issue in the corresponding [github repo](https://github.com/arangodb/arangodb-java-driver).

[2018-08-09 09:47] #114 closed

[2018-08-09 11:11] mpv1989 commented on #104
Hi @bthj,

I implemented the requested feature. It will be available with version 3.0.0. You can already test it with the current 3.0.0-SNAPSHOT.

best
Mark

[2018-08-13 05:57] christian-lechner commented on #77
This feature request should be complete with PR #118. There is only one annotation left that is not supported: `@Version`. But since the docs state:

So, we can't implement `@Version` since optimistic locking is not supported by ArangoDB.

[2018-08-13 07:25] mpv1989 commented on #104
I started the release process of `3.0.0-RC.1` right now. Should be available later today.

[2018-08-13 07:25] #104 closed

[2018-08-13 07:47] #77 closed

[2018-08-13 08:40] mpv1989 commented on #113
Hi @Jeffsyl01,

thanks for reporting. The fix will be included in the next release.

best
Mark

[2018-08-13 22:18] bthj commented on #104
Thanks @mpv1989.

I'm in the process of upgrading to `3.0.0-RC.1` (can now upgrade to Spring Boot 2 as my Apache Camel dependency now supports it).  For custom IDs I've implemented the `Persistable` interface of Spring Data, as @christian-lechner suggested.

One other behaviour is different from when I was at Spring Data ArangoDB version 1.1.5:

Let's say I have a SoundToTag `@Edge` class and to e

[2018-08-14 07:02] mpv1989 commented on #104
Hi @bthj,

with `3.0.0-RC.1` a field annotated with `@Id` is saved as `_key` instead of `_id` (as in `1.1.5`). We changed this to fit better into the design of Spring Data, which also allow us to use non-String ids.

To still be able to work with `_id` we implemented the annotation `@ArangoId` which is what you need for your use case, because you want to compare `_id` with your `_from` and `_to` v

[2018-08-15 13:59] bthj commented on #104
But to the original topic, I'm finally trying the `@Relations` annotation with non-collections on `3.0.0-RC.1` but am stuck on a Jackson error for the returned data.  I've had similar issues before which have been solved with `@JsonIgnoreProperties`, but now it's not doing the trick:

E.g. in `Trip` there is
[code]
and in `Driver` there is
[code]
which results in the following error from a REST/Ja

[2018-08-15 15:04] christian-lechner commented on #104
This happens because the proxy classes that are created if you set `lazy=true` now implement the `LazyLoadingProxy` interface. This interface offers two methods, `getEntity()` and `getRefId()`, that are serialized by Jackson as `entity` and `refId`.

You can see this in the reference chain you posted (notice the `Driver` proxy class `Driver$$EnhancerByCGLIB`):
[code]
Your `@JsonIgnoreProperties` a

[2018-08-15 18:15] bthj commented on #104
Adding the custom `LazyLoadingProxySerializer` and registering it on a `@Document` class with
`@JsonSerialize(using = LazyLoadingProxySerializer.class)`
results in:
`com.fasterxml.jackson.databind.JsonMappingException: ....Document cannot be cast to com.arangodb.springframework.core.convert.resolver.LazyLoadingProxy`

The `extends StdSerializer<LazyLoadingProxy>` part of the serializer definition

[2018-08-15 23:25] bthj commented on #104
Thanks.  Now I'm rid of that StackOverflowError at LazyLoadingProxySerialize, but then for the Collection `@Relation`s, I'm getting that infinite recursion error, where things were fine before, such as results including:
[code]
and
[code]
give:
`com.fasterxml.jackson.databind.JsonMappingException: java.lang.reflect.InvocationTargetException (through reference chain: java.util.ArrayList[0]->is...en

[2018-08-16 05:25] christian-lechner commented on #104
Please notice what I've written above:

**The custom `LazyLoadingProxySerializer` does not work in your case.** The `mapper.registerModule...` code example was just to show **how you should have done it if this approach would work**. That's why I also removed the serializer code from my first answer. I'm sorry for the confusion.

You only need to do the following:
[code]

[2018-08-16 10:26] bthj commented on #104
Ah, now I got it and now it's working :)  Thanks again!

[2018-08-16 10:55] bthj commented on #104
To make make this thread a bit longer, one more question which is remotely related to the issue:

In an [example project](https://github.com/mpv1989/stackoverflow-51597981) @mpv1989  created [in response to a StackOverflow question](https://stackoverflow.com/a/51783399/169858) I noticed he uses [Lombok @Data](https://projectlombok.org/features/Data) to get rid of getters/setters etc., so I decided

[2018-09-04 08:26] mpv1989 commented on #113
fixed in 1.3.2 , 2.3.2 and 3.0.0

[2018-09-04 08:26] #113 closed

[2018-09-05 07:55] gbyczyns opened #120 "Cannot register a converter which is declared as a lambda expression"
I'm trying to register a custom converter:
[code]

But this fails with an exception:
[code]

A simple workaround is to don't use lambda:
[code]

[2018-09-05 17:54] christian-lechner commented on #120
There is currently no way in Java to get type arguments from lambdas. So you need to stick with the anonymous class solution.

[2018-09-18 07:43] #120 closed

[2018-09-21 09:26] cmoine opened #122 "Problem with binding parameters in @Query"
At first I wrote:
[code]
It works perfectly when I run it from Eclipse, but for some reasons I didn't undestand deeply yet, when I run it from gradle, I obtain:

I debug the problem, and I ended up in StringBasedArangoQuery.extractBindVars (v3.1.0):
In one case, the "param.isNamedParameter()" is true, and it is false in the otehr execution mode :-(

I ended up with this workaround:
`public Iterabl

[2018-09-21 10:07] christian-lechner commented on #122
Hello @cmoine

Spring does the following to find out the name of a parameter:
- Check if there is an explicit `@Param` annotation present, if yes, use this value, otherwise
- Try to load the name from the class file via reflection (your sources must be compiled with the `-parameters` flag), if successful, use this value, otherwise
- Use the index of the parameter as name

This means that the class

[2018-09-21 16:19] cmoine commented on #122
Thank you @christian-lechner , it fixed my problem, that is great thanks a lot !

Simply had to check "Store information about method parameters" in Eclipse Preferences -> Java Compiler :)

[2018-09-21 16:19] #122 closed

[2018-09-27 16:55] faquir-sun opened #123 "support spring 5.1.0"
Is there a plan to support spring 5.1.0 and spring data commons 2.1.0?
The other components of my project depend on the spring data commons 2.1.0 version, but the arangodb depends on the 2.0.7 version. I recompile the spring data arango using spring 5.1.0 and spring data commons 2.1.0, the compilation was successful, but the test case failed three.
1.
`Tests run: 4, Failures: 0, Errors: 1, Skipped

[2018-10-02 15:11] mpv1989 commented on #123
@faquir-sun thanks for reporting, I am working on it.

[2018-10-08 06:52] faquir-sun commented on #123
@mpv1989 It‘s Great work. Thank you for your reply. I really look forward to it.

[2018-10-20 00:56] lotabout opened #124 "Document id missing collection name?"
An example from [spring data demo](https://github.com/arangodb/spring-data-demo):

[code]

The retrieved document's id is `characters/259672` which includes the collection name `characters`. When I try this at home the collection name is missing, the id contains only the `259672` part.

`repository.findById(doc.getId())` works as expected but the custom queries won't. For example:

[code]

And `ge

[2018-10-20 01:05] lotabout opened #125 "Feature: create collections on startup"
Currently the collections will be created when `repository.save()` is called if not already existed. Exceptions will be thrown if queries(e.g. `repository.findAll()`) were called before `save` because the tables do not exist.

I was expecting the tables are created on spring startup so that `findAll()` will return empty collections, like what hibernate does.

If I missed something in configuration

[2018-10-20 12:02] mpv1989 commented on #124
The behavior of the annotation `@Id` changed in arangodb-spring-data version 3.0.0. It now only contains the document `_key` and not the `_id`.

From the [Changelog](https://github.com/arangodb/spring-data/blob/master/ChangeLog.md#changed-1)

As you already mentioned, `findById` still works. But when you want to perform a custom query and you need the `_id` field instead of `_key` - which is the c

[2018-10-20 12:45] mpv1989 commented on #125
Hi @lotabout,

are you sure that you have done nothing but `repository.findAll()`? Because `findAll` creates the collection too.

It uses `ArangoOperations.query` and passes the `Class` of your bean within the `bindVars`. Every value of type `Class` in `bindVars` is resolved as a collection - to get the collection name - and in this process the collection is created.

[2018-10-20 13:19] mpv1989 commented on #123
@faquir-sun I've created a PR #126

[2018-10-20 13:38] lotabout commented on #125
@mpv1989 Sorry that my report is partly true. It is not `findAll` that I called but a custom query:

[code]

I also confirmed that other custom queries will fail too. Are there any difference between custom query and `findAll/findById`?

[2018-10-20 13:47] lotabout commented on #124
@mpv1989 Thanks! `@ArangoId` works like a charm!

Maybe it's better to update the demo and doc. Somehow it is hard to find such information. :)

[2018-10-20 13:47] #124 closed

[2018-10-20 14:03] lotabout opened #127 "Not possible to read existing data with new fields in entity"
Say I've defined a document entity (taken from [spring-data-demo](https://github.com/arangodb/spring-data-demo)

[code]

And we've inserted some documents using this definition.

Then we found more attributes are needed, for example:

[code]

Now exceptions are thrown when trying to read existing data (by `findById`, etc):

[code]

[2018-10-20 14:07] mpv1989 commented on #125
Ok, now it makes sense for me.

`findAll/findById` derives the collection from the domain class, in this process it creates the collection. In your query, you pass the collection as a simple String which will not be analysed.

As a workaround - and also as a better practice - you should use the placeholder `#collection` instead of the collection name `customers` within your query. Using the placeh

[2018-10-20 16:43] mpv1989 commented on #127
This is a bug with primitive types. I created a PR including a fix. #128

[2018-10-21 01:13] lotabout commented on #127
WoW, such a quick move. Thanks!

[2018-10-23 15:11] nmabhinandan commented on #38
Do you guys have an ETA for this?

[2018-10-25 11:15] bthj-tms opened #131 "Pageable and Sort for accented characters"
When using `Pageable pageRequest = PageRequest.of(...,Sort.by(...))` with Spring Data ArangoDB I get wrong sorting of accented characters (from Icelandic), for example [Ariel, Árni, Arnþór] instead of [Ariel, Arnþór, Árni].

I'm not sure if this has something to do with my use of the Spring Data framework or whether I need to perform some further configuration of ArangoDB, such as explicitly setti

[2018-10-25 16:34] bthj-tms commented on #131
`sv` and `no` come closer to the Icelandic alphabet but Á and Þ are still misplaced.

ArangoDB seems to use [ICU Collation](http://userguide.icu-project.org/collation) which is compliant with the [Unicode Collation Algorithm](https://www.ibm.com/support/knowledgecenter/en/SSEPGG_11.1.0/com.ibm.db2.luw.admin.nls.doc/doc/r0050489.html) which does cater for the the Icelandic collation.

Is it then a

[2018-10-26 15:29] Simran-B commented on #131
Yes, please open a ticket here: https://github.com/arangodb/arangodb/issues/new
Not sure where the relevant parts of the code are to check if there is something like a hard-coded list of supported languages on ArangoDB side, but it would be pretty strange. Anyway, report the issue please and let our developers take a look. Thanks!

[2018-10-26 21:35] bthj-tms commented on #131
Done:  https://github.com/arangodb/arangodb/issues/7111

[2018-10-30 10:06] bthj-tms opened #133 "Can't remove attributes from a Map"
With an entity like:

[code]

I can add entries to the map and a call to the repository's `.save` method updates the document in the database as expected.

If however I retrieve a document, remove an entry from the map and call `.save`, the returned results from that call are as expected, the entry has been removed, but the database document has not been updated, the deleted map entry is still the

[2018-11-13 14:07] yguad opened #136 "Validate existent documents on insert edge"
When I insert a document with type edge, if I don't send the whole object referenced in _from and in _to it has a strange behavior. It would very good the possibility of to send only identifiers.
Is it possible to send the vertx references (identifier, for example "collection/1234")  in the _from and _to fields and validate spring-data if they exist before inserting them?

[2018-11-13 14:16] Simran-B commented on #136
Can you please the describe the behavior?

[2018-11-13 17:15] mpv1989 commented on #136
Validating of edges in ArangoDB is only possible through _named graphs_ and the corresponding [graph REST API](https://docs.arangodb.com/3.3/HTTP/Gharial/), which is currently not supported by Spring Data ArangoDB. There is an open [feature request](https://github.com/arangodb/spring-data/issues/76) for that but no ETA.

[2018-11-13 17:32] mpv1989 commented on #133
@bthj-tms This is a bug. `ArangoRepository.save()` is performing an _upsert_ instead of the expected _repsert_ with ArangoDB version < 3.4. I created PR #137 to fix this.

[2018-11-13 17:34] mpv1989 commented on #127
version `3.2.0` released which contains the fix, can we close this issue?

[2018-11-14 01:49] #127 closed

[2018-11-14 07:33] yguad commented on #136
ArangoDB spring-data allows me insert edges when the _from or _to referenced documents doesn't exists.
Thanks @mpv1989 for your reply. I would not like it use rest api. I found a way to implement using directly the arangodb driver but it would be interesting to configure it using spring data.

[2018-12-14 13:42] nickcodefresh opened #139 "Unsupported Map type: java.lang.Object"
Hi,

I've trying to load the following document using arangodb-spring-data v3.1.1 and Spring Boot 2 (and consequently Spring Framework v5.0.7):
[code]
When I do this I get the following error:
[code]
If I delete `"metadata": {},` from the source document then it loads fine. This seems a pretty simple use case to me, so any ideas what's going on?

I should say that this used to work fine when runni

[2018-12-15 18:02] mpv1989 commented on #139
would be fixed with PR #135

[2018-12-17 10:07] nickcodefresh commented on #139
I tried the code in your fork (https://github.com/mpv1989/spring-data), but I still get the issue.

[2018-12-17 11:00] nickcodefresh commented on #139
It's ok I figured it out. We're not using Spring Data Arango and annotated classes to load documents, so this will never work.

[2018-12-17 11:00] #139 closed

[2019-01-01 06:51] Bkbest opened #140 "AbstractArangoConfiguration is deprecated warning"
Hi,
I am trying to create a Configuration class to connect to ArangoDB but when I extend the AbstractArangoConfiguration class, Eclipse IDE shows that the class is deprecated. If it is deprecated, what is the new class. If not, I am not able to understand the problem here. (should I just suppress the warning)
Environment:
Java Version 1.8
arangodb-spring-data version:3.2.1
using all latest spring

[2019-01-01 09:41] Bkbest commented on #140
Sorry, The issue was due to version of spring boot, apparently I was not using the latest Spring boot version which caused the issue.

[2019-01-01 09:41] #140 closed

[2019-01-04 13:15] bthj-tms opened #141 "saveAll not working"
If perform a query and data updates like:
[code]
and then save everything with:
[code]

then `someAttribute` is not updated, but if I do:
[code]
then each document is updated as expected.

I'm using `arangodb-spring-data` version `3.1.1` against ArangoDB `3.4`

[2019-01-04 15:50] bthj-tms opened #142 "Custom return values"
I have an AQL query which traverses and aggregates values from multiple collections and returns a custom set of attributes from that aggregation.

Already I know it's possible to use a custom AQL in a repository, when it returns a @Document already defined in the database, using a @Query - but is it possible to use Spring Data ArangoDB to return a custom set of (aggregated) attributes, not represe

[2019-01-07 18:41] #142 closed

[2019-01-07 18:44] bthj-tms commented on #142
This can be achieved with something like:
[code]
or

[code]

[2019-01-21 03:54] runjia1987 commented on #123
Seems still not resloved after these months.
See link: https://github.com/spring-projects/spring-boot/issues/15698

[2019-02-25 16:01] kowlown commented on #80
I concur. When you have a business logic, only one Exception is enough to corrupt your data.

[2019-03-08 21:19] npetillon opened #143 "Nested property - Wrong AQL"
Hi,

When AQL generation with query to nested properties.

User Object:
[code]

Repository :
[code]

AQL generated :
[code]

Error : Query: AQL: collection or view not found: login (while parsing)

[2019-03-12 03:30] nikolko opened #144 "NPE when empty "extra" object received with response"
Hi
When we use arango db v3.3.19 we have trouble with NPE in class AbstractArangoQuery when method logWarningsIfNecessary called.
It happens becouse this method try to get warnings from ArangoCursor. ArangoCursor contains stats and warnings in static class Extra, but our version of arango db send empty data for this object in response  - extra: {}. And we have NPE in method logWarningsIfNecessary

[2019-03-15 14:43] frne opened #145 "[question] How to access Spring Security `Authentication` in Multi-Tenant Setup?"
Trying to achieve multitenancy using the documented [SpEl expression](https://github.com/arangodb/spring-data/blob/master/docs/Drivers/SpringData/Reference/Mapping/Document.md#spring-expression-support), but the expressions seem to be evaluated before Spring Security filters.

Is there any possibility to use `Authentication` / `Principal` in `@Document("XXX_MyDoc")` expression?

[2019-03-20 11:44] J0s3f commented on #141
Same bug exists in version 3.2.1

[2019-03-26 00:13] mxmind commented on #145
Hi @frne, everything you can obtain from Spring context could be used there (I suppose you are familiar with SpEl). But seems this is not a question to Arango team, rather to Spring one. Just a small hint, you can use the SecurityContextHolder.getContext().getAuthentication().getName() method or inject a principal as a method argument. But this is the error-prone approach which might fail, while t

[2019-04-14 22:48] vladostaci commented on #38
Do you have any updates on this. Supporting reactive mode should improve performance a lot.

[2019-04-25 16:11] ashulinskiy opened #147 "Error using ArangoDatabase.query to get the data that has an array element"
Hi folks,

I am getting this error when querying an Arango Database for the data with an array of strings:
org.springframework.data.mapping.MappingException: Can't read map type java.util.Map from VPack type ARRAY!

The details below, any help is greatly appreciated!

The libraries I am using:

<dependency>
           <groupId>com.arangodb</groupId>
           <artifactId>arangodb-java-driver</art

[2019-05-06 16:16] npetillon opened #148 "[Question] Roadmap"
Unfortunately, I don't see much activity on this repository.
Do you have any roadmap?
Is it an active repository?

[2019-05-17 15:17] bthj commented on #148
Support for Spring Data will revitalize soon, according to @MrPieces.

[2019-05-27 18:47] olderzhou opened #149 "VertexEntity can't retrieve _id ,_key,_rev attribute"
![image](https://user-images.githubusercontent.com/8716969/58435368-cc53dd80-80f2-11e9-9b76-0682c8358f81.png)

when entity extends VertexEntity, it's _id attribute can't be retrieve.

[2019-05-28 10:50] sonbt56 opened #150 "ClassCastException when saving entity with non-string Id."
**arangodb-spring-data** version **3.2.1**

I have simple entity class like this.

[code]

and repository interface:

[code]

When ever I call roleRepository.save(roleEntity) it throws "_java.lang.ClassCastException: Cannot cast java.lang.String to java.lang.Long_"

at _com.arangodb.springframework.core.template.ArangoTemplate.updateDBFields(ArangoTemplate.java:720)_

If I change ID type from Long

[2019-05-29 05:51] uouo690 commented on #150
Use String instead of long for the id.

[2019-06-12 09:10] NingLee commented on #76
I think support of named graphs is useful.

[2019-06-22 10:36] BRRRRR commented on #147
I have the same issue.

[2019-06-27 03:39] NingLee opened #152 "different behavior of the arangodb driver and spring data driver"
I directly use arangodb driver in my project now and want to use arango-spring-data instead.
For some reason, I must use the low level driver, so I use `ArangoOperations.driver().db().query() `to replace `ArangoDatabase.query()`, but I find the result is not equal.

I define a new model called `MyModel` extends `BaseDocument` ,

for `ArangoCursor<t> cursor = arangoDatabase.query(query, null, null,

[2019-06-27 03:41] NingLee commented on #152
I found one use `ArangoCursor` and another use `ArangoExtCursor`.

[2019-07-01 00:48] jiangzhizar commented on #80
I strongly urge that this feature be added.

[2019-07-08 07:49] upadhyaydhiren opened #153 "Query Syntax exception for <S extends T> Page<S> findAll(Example<S> var1, Pageable var2)"
I tried with query by example but its throw query syntax exception.
Here is some pseudo class.
This is first class

[code]

[code]
I tried query for ref field of Task field.

[code]

When I executed AQL exception. Syntax error near limit. When I tried to debug I found for @Ref property in SimpleArangoRepository ArangoExampleConverter did not return correct predicate string
Finally Query formed lik

[2019-07-25 20:32] upadhyaydhiren commented on #153
I fixed this issue. (https://github.com/arangodb/spring-data/pull/154)

[2019-07-30 15:34] hanyu-natsu opened #155 "META-INF/spring.factories missing"
Spring data commons scans spring.factories in classpath to see if multiple spring data modules are loaded to enter strict configuration mode (by strictly checking the repository interface).

While I have both spring-data-mongodb and arangodb-spring-data in the classpath, the RepositoryConfigurationDelegate detects only mongodb as spring data module. Thus the delegate tries to configure my arango r

[2019-08-07 15:23] rashtao opened #156 "Support deserializing collection to Object field"
Deserializing a (previously serialized and saved) collection to `Object` field throws `MappingException`.

The issue has been reproduced here:
https://github.com/rashtao/debug-spring-data-deser

Related slack thread:
https://arangodb-community.slack.com/archives/C07NV9NAH/p1565186653286800

Check also:
https://github.com/arangodb/spring-data/issues/26

[2019-08-09 07:42] rashtao commented on #156
Fixed in https://github.com/ArnoBouts/spring-data/commit/e8a42a1c38ab403a1aa0c82a54c6cd6cd983353e

[2019-08-14 13:06] vivek-dhayalan commented on #125
@mpv1989 can you please let me know if there is any workarounds for extended quries as @lotabout  pointed out.

[2019-09-02 13:28] nickcodefresh commented on #147
Me too. Any chance of fixing this?

[2019-09-03 15:59] woodmawa opened #157 "basic vertex/edge mapping for multiple entities is not clear- cant get to work as expected"
created simple spring-data-arango project see [git hub sample](https://github.com/woodmawa/arango)

i can get a single vertex class to persist easily but as soon as you take a more complicated idea the documentation and sample code fails to help what to do.

essentially this is still very simple i have an Organisations vertex with a 1;m relationship with a Sites entity.

I have an @Ref on the Site

[2019-09-10 13:12] nickcodefresh commented on #147
I've raised a PR to fix this

[2019-09-30 09:11] triplem commented on #38
Any news on this one?

[2019-10-01 21:15] aboussofara opened #159 "Spring boot 2.1.8 artifacts issues"
What's the difference between these artifacts :
- arangodb-spring-boot-starter
AND
- arangodb-spring-data

I Had to swith from arangodb-spring-data to arangodb-spring-boot-starter to be able to use Query annotation otherwise my app does not start !!!!

[2019-10-21 06:32] rashtao commented on #38
We are currently working on refactoring the java driver in order to make it return reactive types and behave accordingly to reactive principles. You can follow the development in https://github.com/arangodb/arangodb-java-driver/tree/reactor

[2019-11-09 06:20] wildroco commented on #125
I also faced same issue with derived query.
As an workaround, I call findById with 'dummy' ID for all repositories while initializing my Spring boot Application or Service.
Like below:
[code]
I believe that there must be better solution.

[2019-11-09 15:10] bthj commented on #125
I use `operations.collection(MyCollection.class);` to ensure the collection exists, where `operations` is an `@Autowired` instance of `com.arangodb.springframework.core.ArangoOperations` - but I also have a similar thought:  There might be a better solution.

[2019-11-20 12:58] rashtao commented on #159
arangodb-spring-boot-starter provides Spring AutoConfigurations and ConfigurationProperties. If you use `arangodb-spring-data` alone, you have to configure stuff manually by yourself, eg. check how it is done in the tests: https://github.com/arangodb/spring-data/blob/master/src/test/java/com/arangodb/springframework/ArangoTestConfiguration.java

[2019-11-20 13:38] rashtao commented on #153
Thanks for contributing, PR merged!

[2019-11-20 16:16] kostya05983 opened #163 "Reactive Arango template?"
Spring-data-mongodb has reactive mongo template, which supports flux, will arangodb support such template? Also, I would like submit a PR to try add some template.

[2019-11-20 17:57] upadhyaydhiren commented on #153
Thanks @rashtao , Closing this issue

[2019-11-20 17:57] #153 closed

[2019-11-21 11:42] rashtao commented on #163
In order to support it, the underlying driver should have a reactive API. We are currently working to the driver refactoring in this way (https://github.com/arangodb/arangodb-java-driver/tree/next).

[2019-11-21 12:28] rashtao commented on #157
Hi @woodmawa , do want to create the relationships using `@Ref` or `@Relations`?

Here is an example of M:N relationship using `@Relations`:

https://github.com/arangodb/spring-data/blob/256cad69dc3b1614e8ede9e91ec228360222bc33/src/test/java/com/arangodb/springframework/testdata/Movie.java#L43

https://github.com/arangodb/spring-data/blob/256cad69dc3b1614e8ede9e91ec228360222bc33/src/test/java/com/

[2019-11-22 15:58] #147 closed

[2019-12-04 09:51] hhedfi opened #164 "N+1 problem with spring-data-arangodb"
Is there a solution to retrieve the references and the relations of a collection with one request  using @Query ?

[2019-12-04 16:57] cmdhitman opened #165 "Thread safety"
Hi, guys. Can we run ArangoRepository in multiple threads? Is it thread safe ?

For example

[code]

[2019-12-19 16:29] rashtao commented on #165
Yes, it is thread safe. You can check its implementation here:

https://github.com/arangodb/spring-data/blob/974b05cd1389c9ddc88243bb286ec3a517133a2e/src/main/java/com/arangodb/springframework/repository/SimpleArangoRepository.java

which delegates the template:

https://github.com/arangodb/spring-data/blob/19e27623de1e2532ee41b0e4fba115464884fcaf/src/main/java/com/arangodb/springframework/core/te

[2019-12-19 16:36] rashtao commented on #164
Don't know if I can understand the question correctly, but you could fetch all the data at once with one single query. Then you would have heterogeneous data in the result, so you should pay attention on how you want to deserialize it. For example you could do something similar to what is done in this example:

https://github.com/arangodb/spring-data/blob/15fa5ee3d10c3d518a66d689d5e76802e596efe8/s

[2019-12-19 16:47] #133 closed

[2019-12-19 16:59] rashtao commented on #148
At the moment we are working at a new reactive driver version that will allow `spring-data-arangodb` to support reactive Spring Data repositories.
You can follow the development here: https://github.com/arangodb/arangodb-java-driver/tree/next

[2019-12-19 17:13] rashtao commented on #152
@NingLee
This is because `ArangoExtCursor` uses `spring-data-arangodb` converter to deserialize the data. You can see it here: https://github.com/arangodb/spring-data/blob/d4f76c4598c51aad9026b0ffa9a7b1faf6c42441/src/main/java/com/arangodb/springframework/core/template/ArangoExtCursorIterator.java#L59-L65

So it is expected that the mapping could be different, but I would be interested understandi

[2019-12-19 17:18] rashtao commented on #149
Id field should be annotated with `@Id` annotation, which is missing in the case of VertexEntity.

[2019-12-19 17:43] rashtao commented on #150
According to the documentation this is supposed to work: https://github.com/arangodb/spring-data/blob/62bcf7e1ad1e334bfae61b43e9f53584bbd44405/docs/Drivers/SpringData/Migration/Migrating-2.x-3.0.md#annotations-id

I have also created a failing test to reproduce the issue here: https://github.com/arangodb/spring-data/blob/c20e796efd7a4bc31534effbb0d6a1e72d1bac81/src/test/java/com/arangodb/springfra

[2019-12-25 08:15] olderzhou commented on #149
so , in this case , i should add a property with @Id annotation
like this
@Id
private long id;

[2020-01-06 11:13] rashtao commented on #149
Yes, also you can avoid extending `VertexEntity`. You can find an example here: https://github.com/arangodb/spring-data/blob/256cad69dc3b1614e8ede9e91ec228360222bc33/src/test/java/com/arangodb/springframework/testdata/Actor.java#L38

[2020-01-08 14:01] gfitrz commented on #80
Please implement it. I can't use this database without this. Doing transaction by template is really messy.

[2020-01-09 11:33] dvbeek opened #167 "Package protected constructor gives Exceptions"
Hello, as far as I can tell from the documentation (i.e. https://download.arangodb.com/nightly/doc/ArangoDB_Drivers_devel.pdf, page 111), it is allowed to have a package protected constructor for persisted objects. But whenever I try to load objects from the database with a class that has multiple constructors, with a package protected default constructor marked with the PersistenceConstructor ann

[2020-01-09 16:42] rashtao commented on #167
Here you can find a working example: https://github.com/arangodb/spring-data/blob/5d3f720faa6b21d68ecd42f17277c0d221db5a42/src/test/java/com/arangodb/springframework/debug/repository/PersistenceConstructorClass.java

Also I can see that you have `com.arangodb.velocypack.VPack.createInstance` in your error stacktrace, but I would expect the entity to be instantiated by `org.springframework.data.con

[2020-01-12 01:04] gfitrz opened #169 "Save method doesn't return variables annotated by "@Relations""
Hi,
I have problem with "save" method and annotation "@Relations". When I save it doesnt return objects for variables that are annotated by this annotation.
Hopefuly when I save it by my own written method with annotation query it does return it.

[2020-01-13 08:33] #167 closed

[2020-01-13 08:37] dvbeek commented on #167
I just found out the Arango spring-data is not a part of the Arango Java driver.
Turns out we don't use this in our project, so I cannot use the annotation... My bad!

[2020-01-13 17:07] rashtao commented on #169
The `@Relations` annotation is only considered for reading operations. You need to save the related edges manually.
You can check this as example: https://github.com/arangodb/spring-data/blob/d399bb979353807625c9d8718fc214f427d01367/src/test/java/com/arangodb/springframework/repository/query/derived/DerivedQueryCreatorTest.java#L725-L730

[2020-01-16 18:55] gfitrz commented on #169
Yes, but that is not what I meant. I mean that they are already saved in db, but when I do save it doesn't retrieves it. Even when I do save the key is not returned, it just returns the same object what I send.
I use java 13, arango spring data 3.2.3, spring boot 2.2.2.RELEASE

[2020-01-17 14:12] rashtao commented on #169
Let me clarify:
- saving an entity having fields annotated with `@Relations` does not produce any update to the related edge collection
- when you save an entity, the same entity is returned, check [here](https://github.com/arangodb/spring-data/blob/974b05cd1389c9ddc88243bb286ec3a517133a2e/src/main/java/com/arangodb/springframework/repository/SimpleArangoRepository.java#L91), so you may be confuse

[2020-01-30 08:41] onospoo opened #170 "Possibility to config and use importDocuments"
Hello,
I have a difficult situation with arango spring-data, in particular with setting up and using function `importDocuments` defined in `ArangoCollection` in **arangodb-java-driver**. I have no possibillity to call it in `ArangoOperation`. I could get `ArangoCollection` from `ArangoTemplate` by call function `_collection` and then  call `importDocuments`, but method `_collection` is private and

[2020-02-12 15:51] rashtao commented on #170
You can access the underlying driver calling `.driver()` on ArangoTemplate: https://github.com/arangodb/spring-data/blob/19e27623de1e2532ee41b0e4fba115464884fcaf/src/main/java/com/arangodb/springframework/core/template/ArangoTemplate.java#L303

So you can do something like:
[code]

[2020-02-23 10:57] wildroco commented on #80
Any news here?
I found that ArangoDB 3.5+ and java driver 6.0.0+ supports stream transaction. Is this feature not enough to support transaction of Spring data? (e.g. @Transactional)
[Stream transactions](https://www.arangodb.com/docs/stable/drivers/java-reference-database-stream-transactions.html)

I want to try make this feature if it possible. I would appreciate any ideas or advices. Thank you.

[2020-02-25 11:04] bushi-go opened #171 "Problem with persisting _class in collection : cannot disable it with typeKey override"
Hi,

We are meeting a rather disturbing issue with the feature introduced by  #33

I know it to be rather old, and all, but we haven't met the problem until recent migration to latest arango versions.

I am currently working on a micro-services project, making use of arangodb as one of our primary storage solution.

Each collection has one microservice responsible for persisting data

Lots of our

[2020-02-25 12:39] bushi-go commented on #171
#33

[2020-02-25 14:25] rashtao commented on #80
@wildroco thanks for pinging! I will look into it and update this thread about any progress. Also consider that support for new Spring Reactive Transactions (https://spring.io/blog/2019/05/16/reactive-transactions-with-spring) will be only possible once the upcoming ArangoDB reactive driver will be completed. You can follow the developments here: https://github.com/arangodb/arangodb-java-driver/tr

[2020-02-27 02:26] wildroco commented on #80
@rashtao, thank you. Can you give some expected schedules? I have near production service with ArangoDB. I want to add transactions to the service before launching. The service has already some @Transactional functions with Other DB(MariaDB, Kafka, ..). It will be so happy if ArangoDB can play with then seamlessly :)

[2020-03-05 15:54] xavidivekite opened #172 "NullPointerException when using ArangoRepository"
When trying to build a Spring Boot microservice against ArangoDB, I'm getting a NullPointerException when using the repository object. This is the code involved:

Config class that loads all repositories:

Repository class:

And the service class:

where I'm getting the NullPointerException (Repository not intantiated).

Any idea?

[2020-03-05 16:05] xavidivekite commented on #172
Solved.

Just a misconfig in the Service class!

[2020-03-05 16:05] #172 closed

[2020-03-05 16:05] xavidivekite commented on #172
Fixed

[2020-03-06 19:46] rashtao commented on #80
@wildroco , the work has not been planned yet, so it is hard to make any estimation. For urgent production needs I would recommend you directly using streaming transactions from the driver API (accessible via `arangoTemplate.driver()`.

[2020-03-06 20:28] rashtao commented on #171
What would you suggest to solve your problem?

Disabling the type hints completely would break the deserialization in cases where the target type cannot be inferred at runtime, eg. in case of generic types or polymorphic deserialization. So this comes with many limitations regarding the Java entities modeling. Maybe the NPE you get are related to this?

Another possibility to mitigate the problem

[2020-03-19 11:14] rashtao commented on #171
Also a viable alternative for future versions could be implementing a Velocypack serializer backend for Jackson, extending https://github.com/FasterXML/jackson-dataformats-binary.
In this way we can leverage the Jackson databinding APIs.

[2020-04-01 13:09] oliverlockwood opened #173 "@HashIndex annotation and shard keys"
Since adding sharding to our collections, we started getting errors in a number of parts of our system where we use custom configurations of hash indexes.  Prior to introducing sharding >1, or on a single-node instance of ArangoDB, hash indexes could be configured without including the shard key; after sharding >1 on a cluster of >1 nodes, that is no longer be allowed.

In the context of `spring-d

[2020-04-02 10:58] rashtao commented on #173
As stated here: https://www.arangodb.com/docs/3.6/architecture-deployment-modes-cluster-sharding.html#indexes-on-shards :

[2020-04-02 13:54] oliverlockwood commented on #173
@rashtao yes, as mentioned, I eventually found that.

However I think we should at very least be linking to that documentation from the `spring-data-arangodb` docs which describe how to create custom indexes, and document that the way to customise your shard keys is via an option on the `@Document` annotation.

There is also my second question:
- It's unclear how (through `spring-data-arangodb`) t

[2020-04-03 10:10] rashtao commented on #173
The documentation related to indexes annotations is here: https://www.arangodb.com/docs/stable/drivers/spring-data-reference-mapping-indexes.html

`@Document` fields map one to one the collection options available from the driver and they are documented in the javadoc (https://arangodb.github.io/spring-data/javadoc-3_2/com/arangodb/springframework/annotation/Document.html#shardKeys--), which is al

[2020-04-07 07:00] oliverlockwood commented on #173
@rashtao yes.

I would would add a pointer to the https://www.arangodb.com/docs/stable/drivers/spring-data-reference-mapping-indexes.html page to mention the relationship with shard keys in a sharded setup - even just as a link to other documentation.

[2020-04-28 13:00] ddinger opened #174 "Dependency convergence error for com.arangodb:velocypack:1.4.2"
When using the maven enforcer plugin with my build I get the following warning

  +-com.arangodb:arangodb-spring-data:3.2.3
    +-com.arangodb:arangodb-java-driver:6.3.0
      +-com.arangodb:velocypack:1.4.2
and
+-de.leanbyte:leanbyte:0.0.1-SNAPSHOT
  +-com.arangodb:arangodb-spring-data:3.2.3
    +-com.arangodb:velocypack-module-jdk8:1.1.0
      +-com.arangodb:velocypack:1.1.0
and
+-de.leanbyte:le

[2020-04-30 10:16] 2020vikas opened #175 "org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'employeeController"
WARNING: Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'employeeController'

[2020-05-06 07:39] rashtao commented on #175
@2020vikas can you please provide more context information?

[2020-05-06 10:07] 2020vikas commented on #175
I am performing CRUD operation using below skills .Please Find Attached pom .xml and all other configuration files like dispatcher servlet ,web.xml and spring context file.
Please help me out I am not getting any solutions from Google.
1)Hibernate 4 using Hibernate Template
2)Maven
3)Spring MVC
4)PostgreSQL DB
5)JSP for front end

[WEB-INF.zip](https://github.com/arangodb/spring-data/files/4586064

[2020-05-06 10:08] 2020vikas commented on #175
Thanks Michele.

[2020-05-06 11:56] 2020vikas commented on #175
Hi,

Provided please check and let me know any solution.

On Wed, 6 May 2020, 13:09 Michele Rastelli, <notifications@github.com>
wrote:

[2020-05-07 11:56] rashtao commented on #174
Thanks for reporting, fixed in https://github.com/arangodb/spring-data/releases/tag/v3.2.4 and https://github.com/arangodb/spring-boot-starter/releases/tag/v1.0.3

[2020-05-07 11:56] #174 closed

[2020-05-07 13:40] rashtao commented on #175
@2020vikas I don't see anything related to `spring-data-arangodb` in your configuration.

[2020-05-11 10:11] alexandru-tetelea opened #176 "Missing data in deserialised BaseDocument"
We are executing a query which should return an object with a GeoJson inside of it.
The raw returned response is correct, with all coordinates which are present in db (executed via curl.)
But the BaseDocument object returned by Interface Repository (ArangoRepository<BaseDocument, String>) is missing the last coordinate from the GeoJson.

The structure of GeoJson coordinates is requiring that the f

[2020-05-26 15:31] rashtao commented on #176
@alexandru-tetelea thanks for spotting it!
Can you please check if https://github.com/arangodb/spring-data/pull/179 solves your problem?

[2020-05-30 06:02] mike-audi opened #182 "EnableArangoAuditing failing to find PersistentEntities"
When trying to use `@EnableArangoAuditing` to enable spring data auditing for `@CreatedDate` I'm always getting a `java.lang.IllegalArgumentException: Couldn't find PersistentEntity for type class ...`

spring-boot-starter-parent: 2.3.0.RELEASE (also fails on 2.2.7.RELEASE)
arangodb-spring-data: 3.2.5

stack trace:
`java.lang.IllegalArgumentException: Couldn't find PersistentEntity for type class

[2020-06-09 05:41] brunoaduarte opened #183 "@Ref lazy flag doesn't work as expected"
The lazy flag is not working as expected with the `@Ref` annotation. The default behavior (eager) is ok. But when i set "lazy=true" it not only still loads the list, but it also repeats it in a entity field.

**Get request result with "lazy = false (default)" OK**

[code]

**Get request result with "lazy = true" WEIRD BEHAVIOR**

[code]

**Account**
[code]
**Phone**
[code]
**Repository**

`public

[2020-06-11 05:42] arpit038 opened #184 "NoClassDefFoundError: org/springframework/data/convert/CustomConversions"
I am using mongoDb 4.2 and trying to upgrade my spring boot version from 1.5.9.RELEASE to 2.0.3.RELEASE.
The maven surefire plugin version is 2.22.0.

I am getting following error,

java.lang.NoClassDefFoundError: org/springframework/data/convert/CustomConversions
	at java.lang.Class.getDeclaredMethods0(Native Method)
	at java.lang.Class.privateGetDeclaredMethods(Class.java:2701)
	at java.lang.Cla

[2020-06-11 14:04] oliverlockwood opened #185 "SimpleArangoRepository.save() fails with Error: 1466 - must not specify _key for this collection"
From digging into this, the problem is exposed in the following scenario:
* running Arango in a cluster, not single-instance
* The underlying Arango collection uses a custom shard key (which is itself necessary to allow configuration of a custom unique hash index - see #173)
* ArangoDB version is >= 3.4.0

I am running with:
-  `arangodb-spring-data`, version 3.2.3
-  `arangodb-java-driver`, versi

[2020-06-12 02:13] lidaling commented on #125
So does it has some better solution to create collection automitically?

[2020-06-12 02:13] lidaling opened #186 "So does it has some better solution to create collection automitically?"
So does it has some better solution to create collection automitically?

_Originally posted by @lidaling in https://github.com/arangodb/spring-data/issues/125#issuecomment-643025839_

[2020-06-12 09:32] lidaling opened #187 "How to do one query on a view combind with tow collection."
The view links is :
[code]
Create one entity do fits all fields with tow collection is not one good solution, I thought.
Anybody has one good idea,thanks.

[2020-06-12 12:07] oliverlockwood commented on #185
For anyone else experiencing this: I think it _may_ be possible to work around using something like this:

[code]

and then adding concrete implementations for each of your domain classes.  However, I've not tested this; I imagine some fiddling around with Spring wiring would need to be done also.

Anyway, it's still a bug, so I'm keeping this ticket open.

[2020-06-14 06:38] brunoaduarte opened #188 "UNSET_RECURSIVE() does not work !"
I'm trying to use the UNSET_RECURSIVE() method when building a custom query and it has NO effect on the results, just doesn't work.

I have the following classes:

[code]

I need to retrieve all the UserPhone's registered to a specific User, but to exclude the CallLog (that will be a very long list). So i did

[code]

But it does not work. The callHistory list is still queried creating a huge unec

[2020-06-15 11:12] rashtao commented on #184
@arpit038 is the problem related to `arangodb-spring-data`?

[2020-06-16 09:02] joerg84 commented on #187
Thanks, we are looking into this.

[2020-06-16 09:02] joerg84 commented on #186
Thanks, we are looking into this!

[2020-06-16 09:03] joerg84 commented on #185
Thanks, we are looking into this.

[2020-06-20 11:56] anthammas opened #189 "Spring Data ArangoDB : Save parent and child together"
I am trying to build my Java Spring Boot interpretation of saving ArangoDB nodes. My code looks like below Asset.java

[code]
and AssetContent.java as

[code]
ChildOf.java to give a relation between Asset and AssetContent

[code]
where One Asset has multiple AssetContents. Now I want to achieve 3 things

1. Save an Asset and list of Asset Contents at once (Create a list of AssetContents and store

[2020-06-25 12:06] fceller commented on #141
@J0s3f can you check with 3.2.5?

[2020-07-07 13:22] razbenya opened #191 "Generic type on document manipulations problem"
All document manipulations on ArangoOperation are returning DocumentEntity,
than when cast to superclass for example DocumentUpdateEntity<T>

the type of the generic is always 'VPack' which make some of the options like returned old useless.

[2020-07-14 13:21] rashtao commented on #173
I created this PR https://github.com/arangodb/docs/pull/501
Feel free to comment and share your feedback.

[2020-07-15 13:13] rashtao commented on #141
fixed in https://github.com/arangodb/spring-data/commit/412bdf57cff7c19cc94281e76361f2c3d0ece8cd

[2020-07-15 13:13] #141 closed

[2020-07-16 09:15] #173 closed

[2020-07-16 13:35] rashtao commented on #182
The error you see:

[code]

should be because spring is not scanning the related package therefore does not find the entity definition, so maybe it is unrelated to auditing.
Can you please also report the code of your related entity?

You can see a working example using auditing here:
https://github.com/arangodb/spring-data/blob/cc708be119a5040045c509e974f5c4fc0b000ea9/src/test/java/com/arangodb/s

[2020-07-16 13:55] rashtao commented on #183
Where and how do you get such "request results"?
Consider that the lazy nested entities that you get back are implemented through a [LazyLoadingProxy](https://github.com/arangodb/spring-data/blob/5eae0fa1a60a8631c7c33ef17912482509556573/src/main/java/com/arangodb/springframework/core/convert/resolver/LazyLoadingProxy.java) in the aggregating outer entity. So if you use any Json serializer to conve

[2020-07-17 08:35] #176 closed

[2020-07-17 09:08] rashtao commented on #186
Please keep the discussion in https://github.com/arangodb/spring-data/issues/125

[2020-07-17 09:09] #186 closed

[2020-07-17 14:11] rashtao commented on #188
Your AQL query does not read any `Phone` or `CallLog`, so `UNSET_RECURSIVE` does not change the `up` content in any way.
In your query the `up` variable is something like:
[code]

Therefore in the subsequent mapping of such JSON object to `UserPhone`, SpringDataArangoDB eagerly fetches the referenced entity `Phone` and on cascade `CallLog`.

As tip to debug custom queries proficiently, I would rec

[2020-07-17 15:57] brunoaduarte commented on #188
Ok @rashtao thanks!

[2020-07-17 15:57] #188 closed

[2020-07-20 13:14] rashtao commented on #187
I am not sure if I understand the question correctly.
Consider that views can be queried using AQL using the `@Query` annotation. This offers a lot of flexibility, eg. you can filter by entity type, use subqueries, perform joins, etc.
The returned data will be mapped to entities by Spring Data ArangoDB.

[2020-07-20 18:02] rashtao commented on #185
@oliverlockwood thanks for reporting.
It should be fixed by https://github.com/arangodb/spring-data/pull/192 , can you please check if it fixes also your case?

[2020-07-21 08:29] rashtao commented on #189
1. Spring Data ArangoDB doesn't handle cascading operations. So if you save a parent, the child is not saved automatically. You can implement such functionality by yourself performing the 2 operations in sequence, but note that in this case there is no transactions support (https://github.com/arangodb/spring-data/issues/80).

2. In order to follow the edge from child to parent you can use the `@Re

[2020-07-23 14:41] oliverlockwood commented on #185
@rashtao from code reading, it's certainly plausible that your change would fix the issue.  However I'm afraid that I'm not in a position at the moment to be able to explicitly build the code and test the PR for you 😄

[2020-08-06 14:08] nikita-i-turvo opened #199 "DefaultArangoConverter fails to serialize nested Maps with null values"
**Affected versions:** <=3.2.5

**Problem:** `DefaultArangoConverter#writeMap` throws `NullPointerException`, when one of the entries contains `null` value.
Given document with the following shape, processing will go like this:
[code]
Similar problem (unguarded call to `DefaultArangoConverter#writeInternal`) exists in `DefaultArangoConverter#writeCollection` and `DefaultArangoConverter#writeArray`

[2020-08-10 10:36] #199 closed

[2020-08-13 13:57] #185 closed

[2020-08-14 10:26] rashtao commented on #175
@2020vikas
Closing due to inactivity, please reopen if you have any update.

[2020-08-14 10:26] #175 closed

[2020-08-14 10:27] rashtao commented on #164
@hhedfi
Closing due to inactivity, please reopen if you have any update.

[2020-08-14 10:27] #164 closed

[2020-08-14 10:28] rashtao commented on #149
@olderzhou
Closing due to inactivity, please reopen if you have any update.

[2020-08-14 10:28] #149 closed

[2020-08-14 10:29] rashtao commented on #152
@NingLee
Closing due to inactivity, please reopen if you have any update.

[2020-08-14 10:29] #152 closed

[2020-08-14 10:30] rashtao commented on #183
@brunoaduarte
Closing due to inactivity, please reopen if you have any update.

[2020-08-14 10:30] #183 closed

[2020-08-14 10:31] rashtao commented on #182
@mike-audi
Closing due to inactivity, please reopen if you have any update.

[2020-08-14 10:31] #182 closed

[2020-08-14 10:32] rashtao commented on #157
@woodmawa
Closing due to inactivity, please reopen if you have any update.

[2020-08-14 10:32] #157 closed

[2020-08-14 12:59] rashtao commented on #184
@arpit038
Closing due to inactivity, please reopen if you have any update.

[2020-08-14 12:59] #184 closed

[2020-09-01 11:18] levimmartins opened #203 "Using arangodb-spring-data with Multiple Data Source MySQL + ArangoDB (No MappingContext available!)"
I'm trying to build a spring boot application that uses MySQL and ArangoDB.
I've followed the steps pointed out on:

[1. Spring JPA – Multiple Databases](https://www.baeldung.com/spring-data-jpa-multiple-databases)
[2. Spring Data ArangoDB - Getting Started ](https://www.arangodb.com/docs/stable/drivers/spring-data-getting-started.html)

However, It  throws the following error:

`org.springframewo

[2020-09-02 09:38] rashtao commented on #203
Please try specifying different `basePackages` in the related repositories configuration annotations, eg. as suggested here:
https://github.com/arangodb/spring-boot-starter/issues/8#issuecomment-678145865

[2020-09-02 10:03] levimmartins commented on #203
I had done that. But unfortunately the error persists.
Below you can see the classes I used to configurate the datasources:

- **ArangoDB**

[code]

- **MySQL**
[code]

[2020-09-02 12:35] rashtao commented on #203
I can actually run your code (adjusting package names and datasource configuration) without any error!
Maybe your problem lies somewhere else?

[2020-09-03 05:53] osparking commented on #141
test

[2020-09-08 07:21] levimmartins commented on #203
Hi @rashtao  you're right. We had  removed a dependency of  Spring Data Rest. That's the reason It wasn't work.
Thank you ;)

[2020-09-08 07:21] #203 closed

[2020-09-08 08:49] Korov opened #204 "Cannot insert multiple documents into the specified Collection"
Why not support inserting multiple documents into the specified Collection，
like this:
`<T> MultiDocumentEntity<? extends DocumentEntity> insert(String collectionName, Iterable<T> values, DocumentCreateOptions options)
			throws DataAccessException;`

[2020-09-08 09:06] rashtao commented on #204
It is supported specifying the entity class: https://arangodb.github.io/spring-data/javadoc-3_3/com/arangodb/springframework/core/ArangoOperations.html#insert-java.lang.Iterable-java.lang.Class-com.arangodb.model.DocumentCreateOptions-

[2020-09-08 09:30] Korov commented on #204
I want to insert Documents into different Collection monthly, but the @Document annotation cannot change the name of the table Collection，like Collection_202008,Collection_202009

[2020-09-08 09:36] Korov commented on #204
The Document ID in Edge will also be affected by the `@Document` annotation, but I want to specify the Collection of Document in Edge

[2020-09-08 09:43] Korov commented on #204
The amount of data in a single Collection is very large, resulting in very slow query speed, so I want to separate the Collection by month

[2020-09-08 10:39] rashtao commented on #204
For such specific needs I would recommend you using the underlying Java driver directly.
You can access it from https://arangodb.github.io/spring-data/javadoc-3_3/com/arangodb/springframework/core/ArangoOperations.html#driver--

Also note that if you want to keep Spring Data serialization while using the driver, you should manually delegate entity serialization and deserialization to `ArangoConver

[2020-09-08 13:02] #159 closed

[2020-09-08 13:17] rashtao commented on #156
fixed in arangodb-spring-data v3.3.0

[2020-09-08 13:17] #156 closed

[2020-09-08 15:49] Korov commented on #204
Thanks, I will try to use it

[2020-09-08 15:49] #204 closed

[2020-10-12 08:42] arking7 opened #206 "direct operations on database not reflected on ArangoContext"
How to reproduce: Start spring data arango, go to database web ui and delete collection "X" from ui, then call to collection("X").truncate() will raise an error.

ArangoContext not reflexing the change on database, thus collection("X") not returning null, and no new collection is created automatically.

Expected behavior: Arango detects the change, and create a new collection named "X" automatical

[2020-10-12 08:59] rashtao commented on #206
There is already an ongoing discussion about collections creation on startup:
https://github.com/arangodb/spring-data/issues/125

The main idea is to optionally create collections and indexes once for all at startup.
So in order to address your needs, I would suggest you implementing such checks in your code, in case using the underlying Java driver directly, eg.:

[code]

[2020-10-13 02:23] arking7 commented on #206
Thanks, that does work. However my scenario is a bit different, I deleted the database during runtime, so creating collection at startup does not seem like an option for me.

I hope there is an option to invalid the cache on the template level.

[2020-10-13 13:04] Korov opened #207 "com.arangodb.ArangoDBException: Response: 404, Error: 1600 - cursor not found"
demo https://github.com/Korov/demo-arango/tree/main

com.arangodb.ArangoDBException: Response: 404, Error: 1600 - cursor not found

	at com.arangodb.internal.util.ResponseUtils.checkError(ResponseUtils.java:52)
	at com.arangodb.internal.velocystream.VstCommunication.checkError(VstCommunication.java:141)
	at com.arangodb.internal.velocystream.VstCommunicationSync.execute(VstCommunicationSync.java:1

[2020-10-13 18:00] rashtao commented on #207
Setting the cursor ttl should solve the problem:
https://github.com/Korov/demo-arango/pull/1/files#diff-3c9bce50ffe40eb99ebacf3ecd9135bf8db1dad5e6436ddb3927a977b505dda1R48

[2020-10-14 02:41] Korov commented on #207
It works, thank you very much!

[2020-10-14 02:41] #207 closed

[2020-10-14 06:52] rashtao commented on #206
I am afraid this is quite an unusual use case that is not addressed by Spring Data.
I would suggest you dealing with it catching the ArangoExceptions related to database/collection not found and recreating db, collections and indexes in such cases.

[2020-11-03 12:36] dkalinina opened #208 "Sorting by array field - wrong AQL"
Hi.
I have trouble with sorting by array fields.

That's simple form of my document
[code]

And I use search with sorting
[code]
Sort string is escaped in [_private static String escapeSortProperty(final String str)_ in _com.arangodb.springframework.core.util.AqlUtils_](https://github.com/arangodb/spring-data/blob/master/src/main/java/com/arangodb/springframework/core/util/AqlUtils.java#L117). And

[2020-11-10 11:09] rashtao commented on #208
Thanks for reporting @dkalinina ,
it should be fixed by https://github.com/arangodb/spring-data/pull/209

[2020-12-07 17:33] Joalien opened #210 "NullPointerException when Deactivating type mapping"
To deactivate the type mapping, the documentation advises to set `typeKey` to null

As explained [in the documentation](https://www.arangodb.com/docs/stable/drivers/spring-data-reference-mapping.html#deactivating-type-mapping)

In the method `com.arangodb.springframework.core.convert.DefaultArangoTypeMapper.DefaultTypeAliasAccessor#readAliasFrom`, the call `source.get(this.typeKey);` throws a `Nul

[2020-12-07 19:04] leonelsanchesdasilva opened #211 "ArangoRepository for inherited class brings records from base class"
# Steps to simulate

Given these four documents:

[code]

And these three repositories:

[code]

After inserting a record using the following:

[code]

The record is inserted successfully as a `TrainPart`. Checking from `arangosh`:

[code]

However, when I try to fetch records that are `TrainFuelCar` documents with something like this:

[code]

I get back the `TrainEngine` document I've inserted p

[2020-12-11 16:41] rashtao commented on #210
`VPackSlice.get(String)` does not require a non-null argument. In such case it should return a `VPackSlice.NONE_SLICE`.
 Can you please provide the stacktrace of the exception? Or can you include a test in your PR?

[2020-12-11 19:23] rashtao commented on #211
The query generated by `trainFuelCarsRepository.findAll()` is the following:
[code]
You can see it enabling debug log levels. This is because repositories are not aware of polymorphic entities, therefore generated queries do not filter by type.

Furthermore it could lead to deserialization exceptions, eg. in case the children classes of `TrainPart` have different fields.

To avoid such issues, you

[2020-12-12 18:17] leonelsanchesdasilva commented on #211
This worked. Is it possible to incorporate the detection of polymorphic entities in the Repository implementation, as it is for other JPA implementations?

[2020-12-14 10:28] Joalien commented on #210
Here is my stacktrace :

[code]

[2020-12-14 11:50] rashtao commented on #210
The stacktrace does not seem to be related to `com.arangodb:velocypack:2.4.1`. Can you please check which version of `com.arangodb:velocypack` you are using?

[2020-12-14 12:11] rashtao commented on #211
Spring Data has no API specification about it and the JPA inheritance strategies would be not a perfect fit for NOSQL data models.
Also automatically adding filter clauses to every generated query would be a problem for the cases when you want to have generic queries (eg. in your case `TrainPartsRepository.findAll() should return `Iterable<TrainPart>` containing instances of all its subclasses).

[2020-12-14 17:34] Joalien commented on #210
Indeed, I was using `com.arangodb:velocypack:1.4.1`.
I updated velocypack version and here is the stackstrace :
[code]

[2020-12-15 20:02] rashtao commented on #210
Thanks for reporting, I see the problem now!
`VPackSlice.get(null)` returns from some if-else branches `VPackSlice.NONE_SLICE` and from others throws NPE.
I fixed [here](https://github.com/arangodb/java-velocypack/commit/9b89b8ad1042e942ed42a89e6340ccf2a62e610f), a patch release will follow soon.

[2020-12-18 07:23] Joalien opened #213 "Arango directly print stacktrace on stderr bypassing logger and making client unable to deal with error"
In `spring-data/src/main/java/com/arangodb/springframework/repository/query/ArangoResultConverter.java#convertResult`

[code]
This function has two major problems :
- On the first hand, it prints an error on stderr, preventing to use appropriate logger.
- On the other hand, catching the exception and returning null prevents clients to deal with errors as it does not know about the errors.

For exa

[2020-12-21 08:09] rashtao commented on #213
Thanks for reporting, fixed in https://github.com/arangodb/spring-data/commit/7e948588ac49c48fdcb2767f48f55f0371caccf1

[2020-12-21 10:55] rashtao commented on #211
Closing for now, please reopen if still relevant.

[2020-12-21 10:55] #211 closed

[2020-12-21 10:56] rashtao commented on #206
Closing for now, please reopen if still relevant.

[2020-12-21 10:56] #206 closed

[2020-12-21 10:59] rashtao commented on #171
Closing for now, please reopen if still relevant.

[2020-12-21 10:59] #171 closed

[2020-12-21 10:59] rashtao commented on #170
Closing for now, please reopen if still relevant.

[2020-12-21 10:59] #170 closed

[2020-12-21 11:06] #208 closed

[2020-12-21 11:07] rashtao commented on #165
Closing for now, please reopen if still relevant.

[2020-12-21 11:07] #165 closed

[2020-12-21 11:08] rashtao commented on #169
Closing for now, please reopen if still relevant.

[2020-12-21 11:08] #169 closed

[2020-12-21 11:09] rashtao commented on #187
Closing for now, please reopen if still relevant.

[2020-12-21 11:09] #187 closed

[2020-12-21 11:10] rashtao commented on #189
Closing for now, please reopen if still relevant.

[2020-12-21 11:10] #189 closed

[2020-12-21 11:41] rashtao commented on #150
Fixed since https://github.com/arangodb/spring-data/commit/6896ddc8a9d89284aa98044e80ab2c0a20aebdc0

[2020-12-21 11:41] #150 closed

[2020-12-21 17:04] #213 closed

[2020-12-21 17:04] rashtao commented on #210
fix released: https://github.com/arangodb/spring-data/releases/tag/v3.4.0

[2020-12-21 17:04] #210 closed

[2021-01-01 17:55] togark opened #214 "Querying a document just after insert fails"
I've been running into an issue when I issue a query to retrieve a document that's just been created.

My scenario:
1. Insert a document using ArangoRepository.save
2. Use the ID of the document of the inserted to execute a query that includes a join. The result is empty.

This issue has sprung up only recently. My environment
arangodb: 3.6.9
arangodb-spring-data: 3.2.4
spring boot: 2.3.0.RELEASE

[2021-01-04 04:45] togark commented on #214
I haven't seen this issue occur again in the last 2 days, so closing it.

[2021-01-04 04:45] #214 closed

[2021-01-04 04:45] togark commented on #214
Closing issue

[2021-01-15 23:06] oesolutions commented on #143
@npetillon I just encountered the same issue, did you ever get it resolved?

[2021-01-18 15:41] rashtao commented on #143
Can you please provide some code snippet to reproduce the problem?
In general query derivation with nested properties is supported and tested, eg. here: https://github.com/arangodb/spring-data/blob/d399bb979353807625c9d8718fc214f427d01367/src/test/java/com/arangodb/springframework/repository/query/derived/DerivedQueryCreatorTest.java#L596-L605

[2021-02-20 19:04] danielradulov commented on #163
Hi guys, do you have an update on this issue? any plan that could be shared ? thanks

[2021-02-20 20:01] rashtao commented on #163
The reactive driver is still under development, the project has been moved to https://github.com/arangodb/arangodb-java-reactive-driver.

[2021-05-31 04:02] QAQtutu opened #217 "Why @Relations is not related to an Edge but another document"
I want to associate an edge in a document instead of another document.
If I use @Relations to get a document, I cannot query the edges between the two documents, because there may be many edges between them

[2021-05-31 19:47] DevOps-TauRes opened #218 "findAllById(Collection<> ids) not working as expected"
Hi folks,
I tried to find a solution with merge request, but was not able to find a suitable option in `DocumentReadOption` to get an IN comparism in AQL.

The problem ist, that the default search for `findAllById(Collection<> ids)` which should be search for _keys is not working as expected.
In Arango Logging we got this debug messages.
[code]

A workaround is to use custom query `FOR e IN compan

[2021-06-30 13:01] rashtao commented on #217
This is not supported by the current API. You should be able to perform it writing a custom traversal AQL query using the `@Query` annotation (see https://www.arangodb.com/docs/stable/drivers/spring-data-reference-repositories-queries.html).

[2021-06-30 13:22] rashtao commented on #218
Hi @DevOps-TauRes ,

such method is tested here:
https://github.com/arangodb/spring-data/blob/3b955ae332cccc369a77a2a473d10a22594bc171/src/test/java/com/arangodb/springframework/repository/AbstractTestEntityRepositoryTest.java#L75-L82

From what I can see it generates a multi get request to `PUT /_api/document/{collection}#get` (https://www.arangodb.com/docs/stable/http/document-working-with-docum

[2021-07-08 09:50] nwiecz1 opened #220 "Self-referential Relations cause Stackoverflow Error"
Hello,

I have a collection and edge similarly to below:
[code]

Insertion of the above using spring-data classes works great.  When I try to query with a simple findById, I am getting a stack overflow error.  If I change the relations to be outbound only, it works fine for person1 but if I query for person2 they won't know about person1.   If I change it to an inbound only on the relations annota

[2021-07-08 12:13] #220 closed

[2021-07-08 12:14] nwiecz1 commented on #220
I solved this by explicitly creating a JsonSerializer for my Person collection that removes any recursion issues.  Please ignore.  Thanks!

[2021-08-11 17:36] rashtao commented on #220
@nwiecz1
Setting `lazy=true` is expected to work in this case. A similar case is tested here: https://github.com/arangodb/spring-data/blob/5d6db6a036e5df36e82c1aecae90758f98cb25ef/src/test/java/com/arangodb/springframework/testdata/Person.java#L40

Please reopen and add details in case you find further problems.

[2021-09-03 19:04] rashtao commented on #218
Closing for now, please reopen in case you have further details.

[2021-09-03 19:04] #218 closed

[2021-09-03 19:10] rashtao commented on #217
Closing for now, please reopen in case you have further questions.

[2021-09-03 19:10] #217 closed

[2021-09-03 19:27] rashtao commented on #145
Closing due to inactivity, please reopen in case of further questions.

[2021-09-03 19:27] #145 closed

[2021-09-03 19:56] rashtao commented on #143
This is currently working and tested here: https://github.com/arangodb/spring-data/commit/d0d0ada88d133ce3de3aebc467da087b2364106a

Closing for now, please reopen in case of further problems.

[2021-09-03 19:56] #143 closed

[2021-09-03 20:05] rashtao commented on #123
The current version of Spring Data ArangoDB supports Spring 5.3 and `spring-data-commons` 2.4.5.

[2021-09-03 20:05] #123 closed

[2021-09-04 11:17] rashtao commented on #155
Thanks for reporting, fixed by https://github.com/arangodb/spring-data/commit/bf13537e8918410472685074b5e5fa8391686200

[2021-09-04 11:17] #155 closed

[2021-09-04 11:20] rashtao commented on #163
Closing as duplicate of https://github.com/arangodb/spring-data/issues/38

[2021-09-04 11:20] #163 closed

[2021-09-04 11:24] rashtao commented on #131
Closing since this is caused by arangodb/arangodb#7111

[2021-09-04 11:24] #131 closed

[2021-09-04 12:39] rashtao commented on #144
Fixed by https://github.com/arangodb/arangodb-java-driver/commit/a32bb3d2374b53636f89b8236e8acbdac775299b

[2021-09-04 12:39] #144 closed

[2021-09-06 07:29] rashtao commented on #76
Since ArangoDB graphs API does not support overwriting (https://www.arangodb.com/docs/stable/http/gharial-edges.html#create-an-edge), it is not suitable for implementing `save` method in `ArangoRepository`, which requires insert/replace behavior.
Therefore for the moment, support to named graphs API can only be implemented in the `ArangoTemplate` API.

[2021-09-06 07:30] rashtao commented on #136
Since ArangoDB graphs API does not support overwriting (https://www.arangodb.com/docs/stable/http/gharial-edges.html#create-an-edge), it is not suitable for implementing `save` method in `ArangoRepository`, which requires insert/replace behavior.
Therefore for the moment, support to named graphs API can only be implemented in the `ArangoTemplate` API.

Closing for now, please refer to #76 for furt

[2021-09-06 07:30] #136 closed

[2021-09-06 07:49] rashtao commented on #148
The development of new features will be based on the topics from GH issues tagged with `enhancement`.
Closing for now, please continue the discussion in the related enhancement issue you are interested to or open a new one for further suggestions.

[2021-09-06 07:49] #148 closed

[2021-09-10 10:24] rashtao opened #223 "Point not bound correctly in query derivation"
Query parameters of type `org.springframework.data.geo.Point` are not converted correctly to AQL bind variables. For example the following method:

[code]

always generates bindvars `{"0":0.0,"1":0.0}` independently from the value of the parameter `location` .

Reproduced in branch: https://github.com/arangodb/spring-data/tree/bugfix/sort_distance

[2021-09-16 09:52] rashtao commented on #223
Fixed by #222

[2021-09-16 09:52] #223 closed

[2021-10-02 03:39] reinaldomjr opened #224 "TypeAlias not mapping to correct class when using class inheritance"
I Mapped a parent class, named "Animal", and two subclasses named, "Cat" and "Dog".

The Animal Class is Abstract and never saved as a document.

Both "Cat" and "Dog" classes have the "@Document("animal")" annotation, so they all save on the same collection.

The subclasses are using @TypeAlias annotation with "Cat" and "Dog" as values, instead of full class name.

When the application is started

[2021-10-04 10:55] rashtao commented on #224
Entities classpath scan is performed in the package of `ArangoConfiguration` and recursively in its subpackages, in your case `com.hiveflow.idmmanager.config`, so your domain entities are not discovered.
To fix it you should either:

- manually provide domain entities by overriding `getInitialEntitySet()` in `ArangoDBConfig`, eg.:
[code]

- properly configure domain entities classpath scan by over

[2021-10-30 15:22] stozk opened #225 "Paged query throws exception - 1203 - AQL: collection or view not found: descriptors (while parsing)"
Hi,

I have the following setup:

OS: Windows 11 / Ubuntu 20.04.3

ArangoDB 3.8.1 Docker (official image)

Spring Boot 2.5.4 with arangodb-spring-data 3.6.0, Java 11

I'm trying to fetch objects from the respository:

It works when I just fetch everything via .findAll(), but as soon as I try to run a paged query (page = 1, size = 5, sortDirecton = ASC, sortBy = "idShort")

`objectRepository.findAl

[2021-10-30 15:35] stozk commented on #225
Well, while checking around I tried to change the name of my collection from object-descriptors to objectDesciptors and now it works.

According to the naming conventions in the ArangoDB docs specials characters should be allowed:

`The names must only consist of the letters a to z (both in lower and upper case), the numbers 0 to 9, and the underscore (_) or dash (-) symbols. This also means that

[2021-11-02 07:52] rashtao commented on #225
Thanks for reporting, it seems to be a bug in Spring Data ArangoDB since collection names should be backticked in AQL query generation.

[2021-12-12 12:10] B0BAI commented on #80
No update on this still?

[2021-12-12 12:15] B0BAI commented on #189
So inconvenient to this tool without Transaction support.

From the first point of your https://github.com/arangodb/spring-data/issues/189#issuecomment-661714802. When performing two sequential transactions, if the second fails, the developer is responsible for reverting the operation?

Other than deleting the first entry because the second failed? Is there is a recommended way to handle such case

[2021-12-13 07:32] rashtao commented on #189
Until support for stream transactions will be implemented, a possible workaround could be saving multiple documents (or edges) from within the same AQL query, e.g. something like:

[code]

[2021-12-29 21:12] B0BAI opened #226 "Support for Java LocalTime"
Hey,

I am getting this error while using Java [LocalTime](https://docs.oracle.com/javase/8/docs/api/java/time/LocalTime.html), I am not completely sure if this issue is from Springboot or ArangoDB.
Please review.

**Caused by: org.springframework.core.convert.ConverterNotFoundException: No converter found capable of converting from type [java.lang.String] to type [java.time.LocalTime]**
[code]

[2021-12-31 09:56] TheLeonsver1 opened #228 "@TtlIndexed and @TtlIndex are missing in the docs"
They are not mentioned in here at all: https://www.arangodb.com/docs/stable/drivers/spring-data-reference-mapping-indexes.html
thank you very much!

[2022-01-18 09:15] #226 closed

[2022-01-19 16:26] B0BAI opened #229 "No converter found capable of converting from type [java.util.Optional<?>]"
I am using the `@Query` annotation and I want to get an Optional type as shown below.
[code]
However, things are fine if I don't use `Optional` as shown below.
[code]

[code]

[2022-01-19 16:30] B0BAI commented on #229
Btw, I happen to not experience the issue on Queries that aren't nested. So, I think that's a useful pattern to look at.

Here is what my query looks like.

[code]

[2022-01-19 16:34] B0BAI commented on #229
Sorted the issue. Thanks.

[2022-02-07 11:22] rashtao commented on #224
Closing as fixed, please reopen in case of further questions.

[2022-02-07 11:22] #224 closed

[2022-02-08 13:18] #228 closed

[2022-02-24 05:44] Bearded-Programmer commented on #80
@rashtao Do we have any update on it ?

[2022-02-28 11:17] rashtao commented on #80
We have it in our plans for 2022.

[2022-03-07 06:50] lunbin opened #232 "configure multiple data sources"
how to config multiple arangodb data sources use spring-data?

[2022-03-07 07:04] lunbin commented on #232
i want to config two arangodb data source

[2022-03-07 08:42] lunbin commented on #232
i have found answer in issue #13

[2022-03-07 08:43] #232 closed

[2022-03-07 14:43] jakobjoachim commented on #80
Great, looking forward to it. Do you already know how this will work?
Will you collect all inserts/updates and execute them when the transaction ends?
We need this feature as well and will have to build a workaround until this is released. It would be nice if the workaround is close to how you will develop this so we have little work to do when integrating your change.

[2022-03-10 02:13] 316boss opened #233 "StackoverflowError"
User.java
[code]
Shop.java
[code]

UserRepository.java
[code]

[code]

I got:

[code]

[2022-03-12 16:12] B0BAI opened #234 "[intermittent] illegal document key (while executing)"
Hey, we seem to be getting this issue **intermittently**. We can't understand why because the same operation works fine after a while.

We are persisting a document by providing our key. To be clear, we don't specify duplicate KEY, as we perform a check before committing the document.

Can you explain or help me understand why we are experiencing this issue?

[code]

[2022-03-12 16:13] B0BAI commented on #234
Just now the same  `save` operation worked with the same doc Key we have the above error on.

[2022-03-14 09:08] rashtao commented on #234
You can see the requests sent to the server by enabling debug log level. By doing this you should be able to understand which document key causes the error.

[2022-03-14 22:28] B0BAI commented on #234
From the logs above, we are calling the repo `save` method.

This seldom happens, and it's hard to replicate because it's very sporadic.

This is a simplified replica of what we are doing, and it's failing. Before the save, we ensure no ID exists, and we do that by using the `findById(<id>);` method.

[code]
[code]

[2022-03-15 07:58] rashtao commented on #234
Can you please check the value of the `_key` field generating the error (`illegal document key`)?
Please read it from the driver debug logs related to the failing request, so that we look at the value being sent after the serialization took place.

[2022-03-15 21:00] B0BAI commented on #234
A guide to doing that will be helpful. I am running ArangoDB on docker locally.

[2022-03-15 21:22] rashtao commented on #234
You can refer to https://docs.spring.io/spring-boot/docs/2.6.4/reference/html/features.html#features.logging.log-levels to set debug log level.

[2022-03-15 21:55] B0BAI commented on #234
Oh yeah, I have those settings. But we aren't experiencing the issue for now; as I mentioned, it's intermittent.
So I know what you need, next time if it happens I will share those details.

[2022-03-18 08:45] jakobjoachim commented on #80
We really need this feature and would like to help out. If we can do anything to speed up development please reach out to me.

[2022-04-21 13:57] alxxyz opened #235 "Unique edge"
For the entities
[code]
How to configure that combination of movie and actor must be unique?

`@PersistentIndex(fields = {"actor", "movie"}, unique = true)` doesn't work, as when I try to save second movie for the same user I get the error
[code]

[2022-04-22 12:04] alxxyz commented on #235
[code]

[2022-04-22 12:04] #235 closed

[2022-04-22 12:09] alxxyz opened #236 "[DE-804] Feature: support edge any direction in derived queries"
[code]

Supposing I have only user ID, how to write derived query to retrieve the list of friends?
User ID can be used for both `user1` or `user2`.

[2022-04-28 11:11] noorul opened #237 "Field annotation is not used in query generation"
I have the following document definition

[code]

Also, I have the following method defined in Repository

[code]

The query generated from log tells that class filed name is used instead of the annotated value:

[code]

[2022-04-29 13:58] alxxyz opened #238 "Find distinct documents by field name"
Is there a way to find distinct documents by a field from the document and not by id as it is by default in derived queries?

[2022-05-10 10:19] rashtao commented on #238
This is not supported by Spring Data query derivation. I would recommend you writing your custom AQL query for doing it and use it as argument for @Query annotation. See ref doc here: https://www.arangodb.com/docs/stable/drivers/spring-data-reference-repositories-queries.html#aql-query-options

[2022-05-10 10:27] rashtao commented on #236
This is currently not supported. To work around it you can write a custom AQL query performing a traversal of depth 1 in any direction and use it from  `@Query` annotation.

Ref:
https://www.arangodb.com/docs/stable/aql/graphs-traversals.html
https://www.arangodb.com/docs/stable/drivers/spring-data-reference-repositories-queries.html#aql-query-options

[2022-05-11 09:43] alxxyz opened #239 "Delete all edges on deleting a document"
[code]

On deleting user to delete also all edges
[code]

[2022-05-12 09:57] #237 closed

[2022-05-12 10:16] rashtao commented on #239
This is currently not supported. To work around it you can manually remove the edges with a custom AQL query.

[2022-05-17 06:07] noorul commented on #237
@rashtao When will be the new release?

[2022-06-09 15:01] jakobjoachim opened #243 "[DE-768] Wrong Wrapping of Lists in Queries Returning Arrays"
[code]
Throws an Exception:
[code]
I changed the return type a bit to find the actual issue and here it is:
[code]
Throws no Exception and the actual result type is the correct `ArrayList<Long>`

[code]
Throws no Exception and the actual result type is `ArrayList<ArrayList<Long>>`

So it seems Spring Data tries to wrap the whole object in a list when the return type is a list.
This Issue also occu

[2022-06-10 08:32] jakobjoachim opened #244 "Fail if Field not in Parameter Object for AQL queries"
Feature Request:
[code]
will correctly fail with an exception that the param is invalid

[code]
[code]
Will not show any issue and just use a empty list as a parameter.
It would be really helpful if it would fail instead with a nice error message.

[2022-06-10 11:08] rashtao commented on #243
The provided AQL query actually returns:
[code]
therefore it is mapped to `ArrayList<ArrayList<Long>>`.
To return a flattened array that could be mapped to `List<Long>`, the query should be:
[code]
which returns:
[code]

[2022-06-10 14:27] jakobjoachim commented on #243
I tested this some more because it was still bugging me. This is definitely a bug in arango spring data.
See the following:
[code]
My findings:
- AQL will always wrap results in an array
- Spring Data is smart enough to remove that array in most cases (see first example)
- When using generics (Long in this example) inside the List Spring Data has some issue
- using the `FOR i in [] RETURN i ` to r

[2022-06-21 09:35] rashtao commented on #238
Closing for now, please reopen if still relevant.

[2022-06-21 09:35] #238 closed

[2022-06-21 10:05] rashtao commented on #243
Thanks for clarifying, this seems indeed a bug.

[2022-06-21 12:26] #244 closed

[2022-07-26 08:41] aburmeis opened #245 "PagingAndSortingRepository fails for Pageable.unpaged()"
Any call to `PagingAndSortingRepository.findAll()` passing `Pageable.unpaged()` fails with a `NullPointerException`. The reason is the `PageImpl` is created using `CursorEntity.Stats.getFullCount()` which is null. The fix would be to change the creation of `AqlQueryOptions` in `SimpleArangoRepository.findAllInternal()`:

[code]

Currently the option `fullCount(true)` is only used if `pageable.isPa

[2022-08-26 04:24] javaice007 opened #248 "How to Start a transaction"
How do i  open a transaction when using the framework?

[2022-08-30 17:05] aburmeis commented on #80
@rashtao as we have an urgent need, I created a PR for this feature. Let me know if you have any comments or concerns.

[2022-08-31 15:36] aburmeis commented on #248
You would have to it manually by now, as long as #80 is not closed. The Java Driver offers stream transactions but there is no transaction manager available yet (PR is open).

[2022-10-25 10:12] sdoxsee opened #250 "Readiness for Spring Boot 3?"
New arangodb user here. Nice project! Tried using this on Spring Boot 2.7.5 project and it worked fine but there are number of changes/depreciations beyond that when you get to Spring Boot 3 that prevent it from working out of the box.

I won't list the errors now as there are several (depending how far ahead the dependencies are bumped)

There is also the depreciation of spring.factories for auto

[2022-10-25 13:03] rashtao commented on #250
Support for Spring Boot 3 is on our roadmap, but the related work has not started yet.
Note that this project is not part of Spring Data main modules, but is a community-module (https://spring.io/projects/spring-data#community-modules). As such, the release schedule does not match the main Spring Data releases and might have some delay.

[2022-11-09 12:01] aburmeis opened #251 "SpEL in @Query annotation is not thread safe"
### Problem:
A repository method annotated with `@Query` creates a `StringBasedArangoQuery` which is used for each method call. This implies the reuse of the SpEL `StandardEvaluationContext`, which is created as a final member. Concurrent calls to `AbstractArangoQuery.createQuery()` will propagate different variables derived from `@SpelParam` annotated method parameters to the context in parallel

[2022-11-19 09:47] woshishitou opened #252 "how to use collection placeholder？"
I try to use collection placeholder in query, but I get error for it.

query:
`@Query("FOR u IN @table FILTER u._key == @rowKey RETURN u")`
`List<Map<String, Object>> getNode(@Param("table") String table, @Param("rowKey") String rowKey);`

error:
`Response: 400, Error: 1563 - AQL: collection or array expected as operand to FOR loop; you specified type 'string' with content '"account"' (while optim

[2022-11-28 14:41] rashtao commented on #252
Bind parameters identifying a collection should be prefixed by `@`, see https://www.arangodb.com/docs/3.10/aql/fundamentals-bind-parameters.html#collection-bind-parameters

So your code should be:
[code]